[2013-03-15 14:55] waaaaargh opened #1 "Add AUR Link to Readme.md"
A few days ago I took the liberty of adding a PKGBUILD for the arch users out there to the Arch User Repository. It can be found here: https://aur.archlinux.org/packages/py3status-git/?setlang=de .

I think it would be a great help for arch users.

[2013-03-15 16:52] #1 closed, assigned to ultrabug

[2013-04-05 08:43] Detegr opened #2 "Calculated refresh interval causes the time to drift behind"
[Sleep on line 313](https://github.com/ultrabug/py3status/blob/master/py3status/__init__.py#L313) causes (at least on my machine) the time on i3status to drift behind. Also, if the interval is set e.g. to 5 seconds, the time advances only one second in one refresh, thus drifting the time behind 4 seconds per one refresh interval.

[2013-04-06 15:21] #2 closed, assigned to ultrabug

[2013-04-15 05:18] AdrienLemaire opened #3 "py3status action by pressing a key"
Hello,

I wrote a small [pomodoro](http://www.pomodorotechnique.com/) plugin to display the timer in i3bar. It starts with startx, and stops with a log out. I would like to enhance my plugin by mapping 2 keys to start/stop the pomodoro at will. Any idea how to proceed ?

Also, would you like me to do a pull request for my plugin in your examples/ directory ?

Thanks for your help
Cordially

[2013-04-15 14:11] #3 closed, assigned to ultrabug

[2013-04-18 23:22] ifschleife opened #5 "New version does not seem to place output at correct position in i3bar"
Hi there,

the latest version places the output of my class at the first position of the i3bar, no matter what number I specify in the returned tuple. Is this a bug or has the interface changed somehow? It did work before.
All the examples are placed at position 0, so those don't help to see how to do it correctly...

[2013-04-19 09:22] erralb opened #6 "Install fail - could not find any downloads..."
Hi,
I am using ubuntu 12.04, and pip seems to work fine, as i successfully installed other packages, but when I try yours:

pip install py3status
Downloading/unpacking py3status
  Could not find any downloads that satisfy the requirement py3status
No distributions at all found for py3status

[2013-04-19 11:07] #6 closed, assigned to ultrabug

[2013-04-19 15:36] #5 closed, assigned to ultrabug

[2013-04-28 06:12] shahinism opened #7 "Sometimes modules will not be shown"
I wrote this code:

[code]

But py3status wouldn't show it in i3bar.If I comment out `received_bytes` and `transmitted_bytes` then I have the output! This module is just an example. There are a lot of situation that this thing will happen.
Is there anyway to get errors after running modules? It'll be very helpful.

[2013-04-29 16:33] #7 closed, assigned to ultrabug

[2013-06-15 08:52] ifschleife opened #10 "py3status hangs when system wakes up from suspension"
Hey there again.

When my system wakes up from suspension py3status won't update anymore.
Most notably the clock won't continue. I almost missed a date because of that,
as I thought I still had time (while it would still show the time from the day before) ^^

Sending a SIGUSR1 won't restart it. But reloading the i3 config will.

i3status itself does not have that problem.

[2013-06-19 20:45] #10 closed, assigned to ultrabug

[2013-06-22 09:52] gangelop opened #11 "doesn't call custom classes after 875acde"
Commit 875acdedb7f87fa86f731e897cb84c4e5022ba7e broke something. Custom classes are not being displayed. If I understand correctly, the API didn't change and my old classes _should_ work. Please check.

I'm trying to read the code, but I'm not familiar with the program so it's taking me a while. I have tested until eabade5d8491d7088cc166c55907962e5f1e0ec3 and it works.

EDIT: Some more info: I'm o

[2013-06-24 09:29] #11 closed, assigned to ultrabug

[2013-09-18 17:13] Spirotot opened #14 "Raw JSON output"
When running py3status with default settings (output_format = "i3bar" in /etc/i3status.conf, of course), the i3bar just displays the raw JSON output from py3status.

[2013-09-18 18:22] #14 closed, assigned to nobody

[2013-11-07 19:10] shdwp opened #16 "Update documentation with error information"
Python's rrror log can be founded near socket file (on my arch - /var/run/user/XXXX/i3).
Please add this to documentation.

[2013-11-07 22:27] #16 closed, assigned to nobody

[2013-11-08 14:04] shdwp opened #17 "Update debug info"
Sorry, I don't specified, that XXXX on /var/user/run/XXXX/ is you'r uid (envvar $UID), not user login.

[2013-11-08 14:23] #17 closed, assigned to nobody

[2013-11-10 17:55] Edholm opened #18 "Transformation failed on custom time format"
I have

[code]

in my `i3status.conf` and get spammed with:
`transformation failed (time data 'sön 10 nov 18:51:55' does not match format '%a %d %b %H:%M:%S')`
in my syslog.

Using Arch Linux and latest py3status from AUR. Seems to work with this format: `%Y-%m-%d %H:%M:%S %Z` which is the example from the i3status site.

EDIT: `%a` seems to be the culprit for me. Using `sv_SE.UTF8` locale. Also s

[2013-11-12 16:33] #18 closed, assigned to nobody

[2013-11-30 13:05] gangelop opened #19 "doesn't receive click events until the second event"
I start py3status (with `--debug`).
I click on one of my modules -> Nothing happens. Nothing appears on the logs.
I click a second time either on the same or another module -> The event is received and the previous event is received.

I've tested this with both my own modules and the pomodoro example module, with py3status 8ce5204, i3bar version 4.6, python 3.3.3, on archlinux.

[2013-12-01 19:51] #19 closed, assigned to nobody

[2013-12-02 11:15] gangelop opened #20 "Q: Opening a web-browser from module click event?"
I have this module and I want it to open a web-page in a web-browser when I click it. So of course, I tried this:

[code]

Unfortunately, there's a problem with this. When `webbrowser.open()` is called, it outputs a string like this `START /usr/lib/firefox/firefox "http://github.com"` to stdout. This string end's up in the output of py3status breaking the json structure and causing the status on i

[2013-12-19 19:38] memeplex opened #22 "Very noticeable delay between py3status update and i3status update (USR1)"
Doing killall updates py3status output pretty fast when running it inside a terminal. But there is a noticeable delay (about 1-2 seconds) when the output is hosted in i3bar. Too much seems to be happening between py3status handling USR1 and py3status sending USR1 to the underlying i3status. This renders py3status useless for tasks like interactively changing the volume, i.e. tasks which require fa

[2013-12-22 14:03] #20 closed, assigned to ultrabug

[2014-02-19 10:52] zetok opened #24 "py3status spams in journal"
Settings that (I think) are relevant:

[code]

.i3status.conf:

[code]

Date is shown correctly, and looks like that:

[code]

From journal:

[code]

After removing '%a' part of configuration and restarting i3, there are no longer 'errors' in journal.

Steps to reproduce:
- Put in .i3status.conf:

[code]
- Restart i3.
- Watch spam in journal.

py3status version 1.2 installed from Gentoo ebuild.

I

[2014-02-20 13:35] #24 closed, assigned to ultrabug

[2014-02-20 17:46] #22 closed, assigned to ultrabug

[2014-03-22 17:25] ChoiZ opened #26 "How it's works?"
Hi,

I need some help for config I don't understand how it's works.
I have create this folder: ~/.i3/py3status/ and inside I put the file whoami.py

In my .i3/config: (2 bars one in top with py3status and one on bottom).

[code]

In my .i3topbar.conf:

[code]

Without "order":
py3status: setup error (i3status died and said: Your 'order' array is empty. Please fix your config.). please try to fix t

[2014-03-22 20:33] #26 closed, assigned to nobody

[2014-04-10 17:25] tony opened #28 "Relation to ipy3status?"
@ultrabug , @enkore: What is the relationship of https://github.com/ultrabug/py3status to https://github.com/enkore/i3pystatus?

What are the goals of each project? How are they different?

[2014-04-14 17:47] #28 closed, assigned to nobody

[2014-04-16 11:02] ultrabug opened #29 "wish list"
* add some -v parameter to see the version (**done in v1.5**)

[2014-04-26 10:15] Weishaupt opened #30 "Installing py3status 1.4 fails with pip"
When trying to install the newest version of py3status with pip (or easy_install) the installation fails.

[code]

However installing v1.3 succeeds:

[code]

[code]

[2014-05-03 18:59] #30 closed, assigned to ultrabug

[2014-05-07 06:46] zetok opened #31 "Module netdata doesn't work with python 3.3"
Doesn't work with python 3.3.
Works with python 2.7.
I haven't checked other versions.

When trying to run with python 3.3:

[code]

Version 1.4 of py3status.

[2014-05-07 13:01] #31 closed, assigned to ultrabug

[2014-06-11 00:20] abc123098123 opened #35 "Cant make it work"
Hey, im trying to make a simple script, but cant make it work:

script - http://pastebin.com/F3ejvTK1

The script is in ~/.i3/modules/

So i run py3status -c ~/.i3status.conf -i ~/.i3/modules/ --debug
And everything i already had appears, except my script output.

Sorry if its too obvious.

[2014-06-11 11:21] #35 closed, assigned to ultrabug

[2014-07-11 21:43] viggee opened #39 "Invoke refresh of py3status after click event"
Is there any way to manually trigger a refresh of py3status? For example when I click on my volume module it mutes the sound. There is a slight delay until the widget actually shows that the sound has been muted (with a refreshrate of 1 second).

[2014-07-11 21:54] #39 closed, assigned to nobody

[2014-10-15 16:50] scotte opened #43 "Use same order to resolve i3status configuration and don't require exact output_format"
It would be handy to have py3status resolve the config file in exactly the same way that i3status does, namely (according to i3status manpage):
1. ~/.i3status.conf
2. ~/.config/i3status/config (or $XDG_CONFIG_HOME/i3status/config if set)
3. /etc/i3status.conf
4. /etc/xdg/i3status/config (or $XDG_CONFIG_DIRS/i3status/config if set)

Additionally, if you don't have a user-specific one, and /etc/i3st

[2014-10-19 14:39] tablet-mode opened #44 "[RFC] Configuration handling for modules"
So right now if you want to make your py3status modules configurable you have to handle everything in the module itself. I think it would be really nice if py3status would provide some kind of framework for that.
It could expose some default settings to each module (e.g. the title) and if the module needs more settings it might extend the configuration.
Maybe it could also be used to control which

[2014-10-25 03:53] sphinx-wang opened #45 ""workspace_buttons no" will disable on_click AFFAIR"
Many thanks for Ultrabug's warmly help. This issue was lighted by Ultrabug.

When "workspace_button" is set to no, the on_click function will not be triggered.

Why not keep click events when this option is enabled? Someone like me may need this feature.

Thanks.

[2014-11-20 16:07] rubic opened #46 "collection of py3status modules"
It would be handy to have some user-contributed py3status modules collected in one place.  If not directly as part of the `py3status/contrib` repository, maybe someplace that would be linked from the documentation.

[2014-11-20 21:14] #46 closed, assigned to nobody

[2014-12-28 19:02] #43 closed, assigned to nobody

[2015-01-04 19:18] ultrabug commented on #44
Well mate, after a long work and testing, all our ideas have come true !

**Thank you** so much @tablet-mode for your insight, help and confidence.

Release post : http://www.ultrabug.fr/py3status-v2-0/

[2015-01-04 19:18] #44 closed

[2015-01-06 16:59] tablet-mode opened #50 "config values not available on init"
Sorry for noticing this only now, but it appears that in the init function of the Py3status class the values from i3status.conf are not available yet. So when you want to set up some things, just when the module is loaded for the first time, you won't be able to use the config values.

[2015-01-06 17:04] ultrabug commented on #50
Yes indeed @tablet-mode but we can't do anything about this since __init__() is always called automatically upon instantiation.

I had to handle this kind of behavior when I updated all modules so you can have a look at how it can be done in the net_rate module for example : https://github.com/ultrabug/py3status/blob/master/py3status/modules/net_rate.py

Nothing prevents you also from calling a sp

[2015-01-06 17:05] tablet-mode commented on #44
Haha, my pleasure. Thank you for listening and implementing this so quickly.

[2015-01-06 17:10] tablet-mode commented on #50
I was afraid of that. I actually already have a workaround for it, I just wanted to make sure :-)

Thanks anyway.

[2015-01-06 17:10] #50 closed

[2015-01-07 15:40] ZeiP opened #51 "Defining net_rate format doesn't work"
I'm trying to define net_rate format using the following config segment:
[code]
However, the format string seems to be interpreted as ”"{interface” by py3status parser. I traced the parsing back to line 207 of __init__.py, which seems to cause this:
[code]

Am I using an incorrect syntax for the format definition or is this a bug in py3status?

[2015-01-07 18:38] ultrabug commented on #51
I think this is a bug in the parser indeed which I'll investigate mate, thanks for pointing it out.

I'll get back to you asap.

[2015-01-08 13:37] ultrabug commented on #51
Hi again @ZeiP

Would you please check with the latest commit on branch issue51 and confirm this fixes the problem ?

Thanks

[2015-01-09 06:04] shrimpza commented on #51
Hi,

I came across the same issue, have applied the changes made in the issue51 branch, and it appears to be working correctly now. :+1:

[2015-01-09 10:12] ultrabug commented on #51
Thanks a lot @shrimpza for your feedback, I've merged this on master. Will do (again) some more tests and prolly will create a py3status v2.1 release. I'll close here when done.

[2015-01-11 19:00] promaq opened #53 "Missing attribute in pomodoro module"
When I was traying to run the pomodoro module i got the following error:

![pomodoro_issue](https://cloud.githubusercontent.com/assets/2600816/5696247/5c5a8f08-99c8-11e4-8562-1bbe729e5c38.png)

Placing `timer_pomodoro = 25 * 60` after [line 12](https://github.com/ultrabug/py3status/blob/master/py3status/modules/pomodoro.py#L12) in module code fixed this. But maybe there is something else worth che

[2015-01-12 08:33] ultrabug commented on #53
Hi @promaq

Yes indeed I didn't think about letting the `timer_promodoro` be configurable and you demonstrate that I should have :) So I will correct it along with the other time related parameters of the pomodoro module.

Thanks for your feedback, and I'm glad you're enjoying py3status

[2015-01-12 08:40] ultrabug commented on #53
done, cheers mate

[2015-01-12 08:40] #53 closed

[2015-01-12 12:01] ultrabug commented on #29
Friendly ping @t0m5k1 to let you know that what we've talked about here came true with py3status 2 released a few days ago.

[2015-01-12 12:48] t0m5k1 commented on #29
:O ooooh that is nice, I just checked.
will have to implement this.
thanks again

[2015-01-19 17:02] wlcx opened #57 "Multiple module instances"
Apologies if I'm wrong, but AFAICT there isn't a way to have multiple instances of py3status modules, like for example the stock i3status disk module:
[code]
I have tried configuring multiple instances of my own module, a mumble server monitor:
[code]
But this just results in the module not loading and the error ```py3status: loading mumble c failed (No module named 'py3status.modules.mumble')```

[2015-01-19 17:40] ultrabug commented on #57
It should work @wlcx but indeed I think we're facing a bug here. I'll extensively check this out and find a proper fix ASAP.

I'll update here when it's properly done, please bear with me, shouldn't take too long.

Thanks for reporting the issue.

[2015-01-20 22:30] ultrabug commented on #57
Hi @wlcx, can you please test with the code at branch `issue57` as mentioned above ? I'm confident that it should fix this issue mate :)

[2015-01-21 00:06] wlcx commented on #57
Looking great from my end! :) Thanks for a very fast fix!

[2015-01-21 09:44] ultrabug commented on #57
Great, thanks for your feedback ! I'm waiting a bit for @Zopieux to let me know if this fixes another issue of his too and then I'll merge it to master.

[2015-01-21 11:37] Cutuchiqueno opened #58 ""i3status adjust_time failed" since update to 2.0"
After I updated py3status to version 2.0 I experience the `adjust_time` error that appeared several times in the issue list for the first time:

[code]

on Arch Linux

[code]

before I never had it.

Any idea?

[2015-01-21 12:28] ultrabug commented on #58
Hi @Cutuchiqueno, damn this problem is annoying and I'm surprised of it because I surely didn't update this part of the code.

So this must have to do with i3status.conf parsing. Would you care to show me the content of your time {} configuration format please ?

Cheers

[2015-01-21 19:07] Cutuchiqueno commented on #58
sorry, that was the one I forgot, here it is:
[code]

[2015-01-22 11:35] ultrabug commented on #58
hmm I still can't reproduce this bug mate.

I configured an arch linux VM with the same locale and the same tztime config and it works.. Can you make sure you're running py3status v2.1 please ?

[2015-01-22 12:24] ultrabug commented on #57
I merged the branch to master, this will soon become py3status v2.2. Thanks a lot again mate.

[2015-01-22 12:24] #57 closed

[2015-01-22 16:24] ultrabug commented on #58
I recently merged some work from a fix branch. It looks like you're using py3status-git. Mind re-installing it with latest master please and let me know ?

Else, I'll have to ask you to show me your entire i3status.conf (you can come on IRC to do so or send it by email to me if you prefer it to remain private)

[2015-01-22 17:14] Cutuchiqueno commented on #58
In fact I had installed py3status. The line saying py3status-git only says that it (of cause) conflicting with this package, not that it is installed. Sorry I treid to change the langauge output of the package description but did not succeed.

Nevertheless, I removed py3status and replaced it with py3status-git and the problem is gone. So, between 2.1 and the current master branch there is a diff

[2015-01-22 17:24] ultrabug commented on #58
Alright @Cutuchiqueno it must have been a bug in the i3status parser then. The new py3status v2.2 will be released tomorrow.

Thanks a lot for your help and patience mate !

[2015-01-22 17:24] #58 closed

[2015-01-22 17:33] Cutuchiqueno commented on #58
no really, thank you for replying  and helping me so actively and quickly ;-)

[2015-01-25 07:32] protosphere opened #59 "Sending SIGUSR1 should immediately refresh"
Currently, sending a SIGUSR1 to py3status will not update the output until the next refresh cycle. Is this intended behaviour, or should it behave like i3status (sending SIGUSR1 causes an immediate refresh)?

As I have my refresh interval set to 5 seconds, this isn't really optimal in some situations (eg. When displaying song info, I would rather it update immediately when changing songs).

[2015-01-25 16:13] ultrabug commented on #59
Hi @protosphere,

No this is not the intended behavior and it should refresh immediately, which version are you running please (py3status -v) ?

[2015-01-25 16:22] ultrabug commented on #59
Just as an insight that could explain what you're seeing : sending a SIGUSR1 is not blocking for py3status. This means that it clears all the caches of your modules and then iterates (waits) again.

So you may be in a situation where your modules also needs time to refresh themselves and then you end up having py3status already be in waiting mode (sleep) before your modules actually had the time t

[2015-01-25 22:53] protosphere commented on #59
I'm running py3status 2.2 on Python 3.4.2. That does sound like  the behaviour I'm seeing, but I'll clarify anyway.

I'll be using https://gist.github.com/protosphere/af13d7ed8c7e1d2b4c86 as a reference.
- I set my i3 bar's status_command to `pystatus -t 0 -n 5 -i <module_path>`
- The `time` module (from above) appears in the bar, refreshing every 5 seconds
- I send a SIGUSR1 to py3status. Instead

[2015-01-26 08:32] guiniol commented on #29
Allow modules to change the output of other modules. For example, we could use the standard net_rate module and then have a color_output module which could be configured to change the color of the net_rate output depending on the traffic speed. This would be better than copying and modifying the net_rate module because the net_rate module could be updated without having to re-copy and re-modify it

[2015-01-26 11:02] t0m5k1 commented on #29
that would be handy as a separate request guiniol

[2015-01-26 11:15] guiniol commented on #29
@t0m5k1 The way I understood it, this is a wish list thread, that's why I put it there. However, I do agree that it would be easier to track if there were one request per issue.

[2015-01-26 11:20] ultrabug commented on #29
You're right guys, sorry @guiniol (it's me who asked him to put it here). Feel free to open a new one for this if you feel like it, else I won't forget it here anyways ;)

[2015-01-26 11:33] guiniol commented on #29
@ultrabug Either we put one request per issue, or we put all requests in this issue, it's up to you and how you are used to working.

[2015-01-26 11:41] ultrabug commented on #29
Let's keep this here for now, I'll split on the next one and close this one then. Cheers mates.

[2015-01-26 16:20] ultrabug commented on #59
I understand, thanks for this detailed point. I see indeed a possible improvement in the code that I could do about this kind of issue.

I'll do my best to propose a solution soon this week and will surely require your help in testing it please.

Please bear with me.

[2015-01-28 14:47] gerritwalther opened #61 "Problems installing py3status"
Hi,

I've got some problems installing the newest version of py3status. I don't think its related to the new version, more some issues with my system, but maybe you can help me. I'm on Debian testing.

I installed py3status (v2.1) about 9 days ago via pip:
[code]
Used sudo because pip wanted to write it to `/usr/local/bin`. Everything worked fine.

Today I wanted to adjust the output of the batter

[2015-01-28 17:45] ultrabug commented on #61
Hi @gerritwalther, you're actually the second person to report this problem on Debian.

I'll have to install a VM myself to try and debug this weird issue which is permission related.
- Can you give me your exact Debian version plz ?

The workaround for the other user was to uninstall py3status using `sudo pip uninstall py3status` then install it again still using `sudo pip install py3status` and

[2015-01-28 19:15] gerritwalther commented on #61
I'm using the Debian testing branch.
[code]
[code]
Will  try the workaround now and post here, if its working.

[2015-01-28 20:27] gerritwalther commented on #61
I've set the permission level now to `755` and now get a different error than before:
[code]

Digged a little further. The folders installed in `/usr/local/lib/python2.7/dist-packages` had set the `S` permission. Have removed that bit, also set the folders to `755` and files to `644`, now everything is working ^^

For reference:
Before:
[code]
Afterwards:
[code]

Tell me if you need further help s

[2015-01-29 11:44] gerritwalther commented on #61
Another interesting thing I found out today while installing i3 and py3status on my desktop machine:

I had no problems ^^ The permissions were correct (just as I changed them in the last post). So  the main problem seems to be with reinstalling py3status. Maybe its even a problem with pip or easy_install.

My desktop has Debian testing as well, my user is **not** in the staff group.

[2015-02-01 21:09] ultrabug commented on #59
Hello @protosphere

Thanks for your patience, I hope I finally figured out a nice way of handling a lively refresh of the bar which should cover the problem you reported on this issue.

Would you please test with the issue59 branch code and report back mate ?

Cheers

[2015-02-03 11:30] ultrabug commented on #61
I've not forgotten this issue, please bear with me I'm quite busy lately.

[2015-02-03 12:10] gerritwalther commented on #61
Totally fine. I've got everything working, so there's no need to hurry.

[2015-02-05 11:27] gerritwalther commented on #61
Oh man, I think this is really a pip or debian problem. I installed evdev for python today via pip and its the same permission problem as it is with py3status.

I will try to find a solution for this or file a bug for pip.

[2015-02-09 04:16] protosphere commented on #59
Hi,
First, I apologise for the delay in testing this.

The issue seems to remain in this version. Upon sending a USR1 signal to py3status, I can see the information being output at a higher rate than normal, however it isn't actually updating the information. This is exactly what was happening originally: Sending a USR1 would cause py3status to output another line, however the information in that

[2015-02-09 08:26] ultrabug commented on #59
That's okay @protosphere. TBH, I was not satisfied with my current proposal on branch **issue59** and was going to update this bug when I'm done with branch **issue59_bis**.

**issue59_bis** is still work-in-progress but also if you feel like testing it, be my guest mate. Your input on this is really valuable as it helps me find the best solution for this matter and end up with something neat I ho

[2015-02-09 09:42] abello commented on #59
Hi,

I'm experiencing the same issue. When sending a SIGUSR1, a new line is output but the output is still the same as the old one. The actual (refreshed) output only gets printed in the next refresh interval.

By looking at the code very briefly I thought that it could be a race, but sleeping before clearing caches didn't seem to help.

Thanks

[2015-02-09 09:50] abello opened #63 "Nagbar appearing when receiving SIGUSR1"
Hello,

The nagbar is showing up for me when py3status receives two consecurive (very close time-wise) SIGUSR1-s.

For example, when I run:
killall -s SIGUSR1 py3status && killall -s SIGUSR1 py3status
the nagbar appears, with the text: "py3status: SIGUSR1 (received USR1, forcing refresh), please try to fix this and reload i3wm".

Could this be happening due to self.clear_modules_cache() raising an

[2015-02-09 17:37] Anon1234 commented on #63
Yeah, it's especially annoying when i'm trying to do something like:
[code]
And result is  (when scrolling on audio status block):
![screenshot from 2015-02-09 19 33 21](https://cloud.githubusercontent.com/assets/1951834/6111580/9cd88e64-b092-11e4-93d8-cd4bd7cfc078.png)

[2015-02-09 19:00] ultrabug commented on #63
Thanks @abello for reporting this, I think it shouldn't be too hard to fix.

@Anon1234, please note that you should not be doing this because **py3status already sends a SIGUSR1 to i3status for you upon click event** (which explains what you experience) !

[2015-02-10 16:26] ultrabug commented on #63
Just as a heads up, I've sorted out a nice fix for this behavior which will land in py3status v2.3 later this week along with some other improvements.

Stay tuned.

[2015-02-10 21:07] ultrabug commented on #59
Hi again @abello and @protosphere

I'm glad to tell you that my work on **issue59_bis** branch is over and contains what I believe should fix this issue ! :)

It would be great to have your feedback on it please, cheers mates

NB: I deleted the obsolete *issue59* branch

[2015-02-10 21:10] ultrabug commented on #63
Hi again @abello and @Anon1234,

I'm glad to tell you that I fixed this issue on **issue59_bis** branch, would you care to test it and report back please ?

I'll release this soon :) thanks

[2015-02-10 21:23] abello commented on #63
Both this and issue 59 seem fixed for me!

Thanks a lot

[2015-02-10 21:38] ultrabug commented on #63
Thx @abello, I hope you can also see a clear improvement of i3bar refresh speed upon click events ;)

[2015-02-12 13:03] ultrabug commented on #59
Merged into master as of now, will soon become 2.3 unless I hear anything :)

[2015-02-12 13:03] ultrabug commented on #63
Merged into master as of now, will soon become 2.3 unless I hear anything :)

[2015-02-14 07:25] XenHat commented on #6
It seems to be happening again:
[code]
[code]

[2015-02-16 07:55] abello commented on #59
Thanks for merging!

Just wondering, how do you handle pip releases? When would the bugfixes on 2.3 be available for download/upgrade via pip?

Thanks,
Aleksander

[2015-02-16 23:38] ultrabug commented on #59
@abello, I poke around some users I know to get feedback before I make a new release usually. As you can see this lead to a few fixes since this merge :)

I think I'll tag and pip/package 2.3 by Wednesday, I'll update here when done.

[2015-02-17 07:46] shankargopal opened #64 "Setting order in which methods are called from Py3status class"
First off, thank you for this wonderful program and all the work you've done on it.

I had a question.  Py3status calls all the methods in the class Py3status in any script we write in the concerned directory.  I'd like to control the order in which the output of the the methods from within one module are displayed.  There is a way to control the order in which the output from a module is displaye

[2015-02-17 14:17] ultrabug commented on #64
hi @shankargopal, glad you like py3status :)

The `order +=` controls only how modules are displayed between them, not how to order a module's multiple output.

But there's a way to do what you need here because module's methods are sorted alphabetically when they get loaded. So you should be able to order them by simply ordering them by their name ;)

Hope this helps.

[2015-02-17 16:02] ultrabug commented on #59
py3status v2.3 has been released and fixes this issue ! :) enjoy !

[2015-02-17 16:02] #59 closed

[2015-02-17 16:02] ultrabug commented on #63
py3status v2.3 has been released and fixes this issue ! :) enjoy !

[2015-02-17 16:02] #63 closed

[2015-02-18 06:52] shankargopal commented on #64
Thanks ultrabug for the quick reply.

But that doesn't seem to work, for some reason that I'm not able to understand.  I use a slightly unorthodox method of defining a class, and then adding methods to that class dynamically (because I want the output to contain different colors, and it seems that the output from a single method can have only one color).  The relevant bit of the code looks like th

[2015-02-18 08:28] ultrabug commented on #64
Hi mate,

First, I think you approach is fun and neat, congratz ! I never imagined such a use case :)

I indeed made a mistake in my first answer, methods are sorted when they are **loaded** in a dict but they are not sorted when py3status **iterates** on the dict to get their output. Since dicts do not preserve ordering that explains your problem.

I'll propose a fix in a branch asap mate, should

[2015-02-18 08:46] shankargopal commented on #64
Thanks, it was an experiment for me too :).  I'm sorry I can't
contribute a patch.  Thanks again for such
a neat tool :)

On Wed, 18 Feb 2015 00:28:16 -0800
Ultrabug <notifications@github.com> wrote:

[2015-02-21 13:58] ultrabug commented on #64
Hi @shankargopal, I've commited on the `issue64` branch a fix for this issue which ensures that methods are sorted alphabetically.

Please have a look and give me your feedback, I'll merge it to master.

[2015-02-21 18:24] shankargopal commented on #64
A great change, I was also thinking that that would be the easiest way
to do it.  I incorporated the change into the script on my system - I'm
not very familiar with git on remote repositories (only used it
locally) so didn't try a clone, just added it in manually.  It seems to
be working beautifully.  Thanks a lot, as always!

On Sat, 21 Feb 2015 05:58:01 -0800
Ultrabug <notifications@github.com>

[2015-02-22 15:11] ultrabug commented on #64
Cool, thank you too mate, it's merged into master.

[2015-02-22 15:11] #64 closed

[2015-02-22 20:47] thomas- opened #67 "battery_level.py module doesn't run under python3"
I get this error with python3 (works fine with python2)

[code]

[2015-02-23 11:02] #67 closed

[2015-02-23 11:03] ultrabug commented on #67
Thanks a lot mate for the report and the fix !

[2015-02-24 11:38] natedalliard opened #69 "High cpu usage when using py3status"
Hey all,

this is my first post here on github, so please be patient with me.

I use the following config I found here on github: https://github.com/viggee/configi3/tree/master/home/config/i3

But when I enable the bar my cpu goes to the roof. Like 30-40% usage. When I disable py3status the cpu usage goes down to 1-2%.

I installed py3status-git from here: https://aur.archlinux.org/packages/py3sta

[2015-02-24 13:26] ultrabug commented on #69
Hi @natedalliard, first of all welcome aboard :)

This is a very interesting point, would you mind sharing your machine's hardware (CPU/RAM) ? I may have an idea but I find it unlikely.

Cheers

[2015-02-24 13:52] natedalliard commented on #69
Sure, the output of `cat /proc/cpuinfo` is:

[code]
the output of `cat /proc/meminfo`
[code]
I hope this is what you wanted. Any way to have a scrollbar for longer code here on github? When you need some more information. Please ask. I don't know all the commands.

[2015-02-24 13:56] ultrabug commented on #69
Damn, that's a high end hardware you have, I'm very surprised you encounter a CPU consumption problem.

What I can propose you is this : I created a `issue69` branch of py3status. Can you clone it and install from it using `sudo python setup.py install` ? Then restart i3 and see if this makes any difference please.

https://github.com/ultrabug/py3status/tree/issue69

[2015-02-24 14:10] natedalliard commented on #69
Does it make any difference where I install the branch?
First I will remove py3status-git from AUR.
And how do I uninstall py3status?

[2015-02-24 14:11] ultrabug commented on #69
no, don't remove anything.

1- git clone git@github.com:ultrabug/py3status.git
2- cd py3status
3- sudo python setup.py install
4- restart i3 with py3status enablec

[2015-02-24 14:20] natedalliard commented on #69
That was easy, but still no difference. CPU usage at around 35%.

[2015-02-24 14:21] ultrabug commented on #69
In a way, it's reassuring... Would you mind sharing your i3status.conf and the exact status_command you're using from your i3 config ?

[2015-02-24 14:33] natedalliard commented on #69
The status_command: `status_command py3status -s -i ~/.i3/py3status -n 0.1`

The config file:
[code]

[2015-02-24 14:40] Anon1234 commented on #69
Try to increase update interval (-n option) to 1 or more.
[code]

[2015-02-24 14:42] natedalliard commented on #69
Oh gosh. I think that's it. Thanks for the really fix help here!

[2015-02-24 15:24] ultrabug commented on #69
Absolutely, please be aware that py3status does not need such a low interval rate because this applies to all your modules' refresh rate (which then can be consuming).

Since py3status v2.3, any update from any module (i3status' and py3status' alike) are immediately showed on the bar, whatever your py3status interval (-n) setting !

Simply put : -n affects how often ALL your modules are executed,

[2015-02-24 16:00] natedalliard commented on #69
Thanks a lot @ultrabug and @Anon1234 - case closed! :+1:

[2015-02-24 16:20] #69 closed

[2015-02-28 14:45] bolens1112 opened #73 "No output from: battery_level.py."
I bet I am missing something but when I type in:
python battery_level.py
There is no output whatsoever.

Whereas if I put in:
python bitcoin_price.py
I get:
{'full_text': 'btce: 246.90$, btcde: 223.50€', 'cached_until': 1425135433.2139943}

Could someone please point me in the right direction.

I am running Arch Linux.

[2015-02-28 18:14] ultrabug commented on #45
i3 v4.9 fixed this !

  • i3bar: make click events on status blocks work with 'workspace_buttons no'

[2015-02-28 18:14] #45 closed

[2015-02-28 18:18] ultrabug commented on #73
Hi @bolens1112

Yes indeed this module did not support direct testing before 6 days ago : https://github.com/ultrabug/py3status/commit/52ba20d9188241a3e3666247d6865b71daebbce9

Try using py3status-git in Arch Linux or copy over the git version. It will be available as-is in the upcoming py3status v2.4

[2015-02-28 19:02] bolens1112 commented on #73
That did it.  Thank you very much!  I really like the simplicity and power of py3status keep up the good work!

[2015-02-28 19:02] #73 closed

[2015-03-11 16:21] ultrabug opened #75 "handle daylight savings time change"
Currently if a daylight savings time change occurs, py3status doesn't pick it up and the bar shows an incorrect time.

Originally reported by Gamonics on i3 FAQ : https://faq.i3wm.org/question/5590/time-keeping-problem-i3status-or-py3status/

[2015-03-12 17:38] ultrabug commented on #75
Fixed, will be on the next 2.4 release.

[2015-03-12 17:38] #75 closed

[2015-03-18 11:11] FedericoCeratto commented on #61
@gerritwalther: it's never recommended to use pip install on Debian (or any package-based distribution). On Debian you can use pypi-install

[2015-03-18 12:03] ultrabug commented on #61
@FedericoCeratto and do you know if using pypi-install solves this issue by any chance ?

[2015-03-18 14:29] FedericoCeratto commented on #61
@ultrabug: I didn't try to replicate the issue; Anyhow, sudo pypi-install py3status worked just fine as today and installed version 2.3

[2015-03-27 11:33] gerritwalther commented on #61
@FedericoCeratto Thank you for the hint. Had to remove py3status with `sudo pip uninstall py3status` prior to using pypi-install. But now its working fine.

For everyone else: pypi-install is in the python-stdeb package.

[2015-03-27 14:35] ultrabug commented on #61
I added a note about this in the README, thanks guys.

This is while the debian package by @FedericoCeratto is coming live to apt ;)

[2015-03-27 14:35] #61 closed

[2015-04-04 16:14] habash1986 opened #94 "Sysdata model is not displaying ram usage correctly"
Greating from the middle east! I want to say thanks for your awesome project, and please keep up it :)

So as you can see in this ![screenshot](https://cloud.githubusercontent.com/assets/9447447/6993396/9626b940-dafb-11e4-98c1-b85a317ed21b.png), the used ram is being shown as 0.00, I tried to check the model's code, since I have a little experience in coding myself, I wasn't able to see what's wro

[2015-04-05 19:03] ultrabug commented on #94
Hello @habash1986, I'm glad you enjoy py3status :)

This is strange indeed, would you please share your py3status and python versions (using py3status -v) ? I'll test the module once again and let you know if I have any idea.

[2015-04-06 07:49] habash1986 commented on #94
@ultrabug :)
Python version is 3.4.3-2
py3status version is 2.4
I'm using Arch as well

[2015-04-06 20:57] ultrabug commented on #94
@habash1986, indeed there was an error in the module. It was looking for the wrong index position and was giving the used SWAP instead of RAM.

As you can see in the commit referenced above, I have fixed the issue now. Please use the module from the master branch until the next release !

Thanks

[2015-04-06 20:57] #94 closed

[2015-04-06 22:38] habash1986 commented on #29
that's should be simple, add the swaps status to the Sysdata model.

[2015-05-10 21:02] gideonite opened #97 "Lag on keyboard_layout"
I'm using the `keyboard_layout` module and I'm wondering why there is a lag of over five seconds when I change the keyboard layout.

I know that five seconds doesn't sound like a lot but my goal in using this module is to always know what keyboard layout I'm using. One of the reasons for this is because my i3 keybindings only work in one keyboard =(

[2015-05-11 10:47] ultrabug commented on #97
Hello @gideonite

As a matter a fact there is a `cache_timeout` setting in the keyboard_layout module which defaults to **10 seconds** and is responsible for the behaviour you're encountering.

In your i3status.conf, you can change this parameter to a lower value fitting your needs (2s for example) by doing :

[code]

However, if you want a real time update I suggest you instead use USR1 signal me

[2015-05-11 13:52] gideonite commented on #97
@ultrabug Yes, later I found where that the `cache_timeout` was being set but I still didn't know the proper name for the property to override it. In any case, `setxkbmap fr && killall -s USR1 py3status` worked like a charm.

Along this vein though, I'm wondering in general how property names are documented. It'd be nice to be able to auto-generate documentation, or for the time being, just mainta

[2015-05-11 13:52] #97 closed

[2015-05-11 14:33] ultrabug commented on #97
Yes you're right @gideonite I need to better demonstrate the CLI and document the modules options, it's in my TODO :)

FYI : `py3status modules details` from the command line will show you the details and parameters of all available modules.

[2015-05-11 21:33] Horgix commented on #97
ultrabug wrote:

I'm on the way of writing documentation for that kind of things, but am still getting a better hand on the existing code and defaults. If you already have a list of stuff that needs to be documented, maybe it's time to create a TODO file ;)

[2015-05-12 14:37] Horgix opened #98 "Uniformize and standardize 'format' option"
Looking at the current modules, I found that the option allowing users
to define a custom output format is not consistent or not present. One
thing that made me like i3status was the idea that no matter the module,
it is the `format` option that is used to customize its output. I
think it would be nice to uniformize existant modules around this idea
and to document this as the way to go for future

[2015-05-15 12:31] ultrabug commented on #98
I think it's a very good idea and proposition. I agree with your points and I'm all for normalization !

I see a few key points here just like you :
* we need to preserve existing configurations for now
* some modules (and it's true for i3status too) have more than one format parameter (format_up and format_down for example)

That being said, I guess we could proceed in this order :
* start by add

[2015-05-15 13:02] Horgix commented on #98
Glad you like it :)

I think that even in these cases, there is always a predominant one (generally format_up or format_ok or whatever). We could : 1. keep format_up and format_down or 2. consider format_up is the standard, and just define format and format_down.

This order looks perfectly fine to me !

Yeah sure, I already offered my help for this task on IRC.

That's what I planned to do. Feel

[2015-05-15 13:09] Horgix commented on #98
Since Github has a markdown syntax for checklists, I'll keep track of what have been done here :

* [ ] [aws_bill](https://github.com/Horgix/py3status/blob/master/py3status/modules/aws_bill.py#L38)
  : KO; no output customization available
* [ ] [battery_level](https://github.com/Horgix/py3status/blob/master/py3status/modules/battery_level.py#L40)
  has a `format` option but with unamed parameters

[2015-05-15 13:25] ultrabug commented on #97
Thanks guys, just as a heads-up I've added the missing dosctring on the module ;)

[2015-05-21 15:24] Horgix commented on #98
@ultrabug : is it possible to assign the issue to me since I'm taking care of it, or is it only for project collaborators on Gibhut ?

Also, I just checked sysdata as OK since df16bcbfacafa1b3f4d3f4cbde45262b72d61751 added what  I suggested

[2015-05-23 16:54] ultrabug commented on #98
@Horgix no I cannot assign to anyone else (yes must be for collaborators) sorry.

Thx for updating the list wrt sysdata.

[2015-06-09 00:42] vandr0iy commented on #29
Probably it may not be easy to implement, but could it be possible to change panel background for every plugin? I wished to make something like
https://camo.githubusercontent.com/8653749fc1a61456f6e498c5cac6f0befe1f7db6/687474703a2f2f646f7473686172652e69742f7075626c69632f696d616765732f75706c6f6164732f3634392e706e67
(powerline-style bar with every element colored differently)
but with your bar's fe

[2015-06-10 20:07] ultrabug commented on #29
@vandr0iy it is indeed a great idea. Unfortunately, py3status is not responsible for rendering the bar itself and thus respects the i3bar protocol : http://i3wm.org/docs/i3bar-protocol.html

AFAIK the i3bar protocol does not support background color per module, so maybe you could ask them for it and then it will be directly available through py3status ;)

Sorry I can't do more about it.

[2015-06-20 23:29] frimdo opened #103 ""py3status modules list" and example_module"
I installed py3status using dnf (fedora) and the "py3status modules" commands are just not working for me.
I belive, that line #124 should be "print(x.example_method([], config))". Am I allowed just to clone py3 status and commit repaired file?

[2015-06-20 23:36] frimdo opened #104 "New module - external_script"
I have written a new module. Do you want to add it to yours?
https://gist.github.com/frimdo/804b7d8737a0fe2ffcaa

[2015-06-22 17:34] ultrabug commented on #103
Hello @frimdo, thanks for reporting this.

I'm not so sure about the faulty line, could you please link to it from here ? And yes, you can also propose a PR by forking the repo :)

Cheers

[2015-06-22 17:36] frimdo commented on #103
https://github.com/ultrabug/py3status/blob/master/doc/example_module.py

[2015-06-22 17:40] ultrabug commented on #104
Hi @frimdo

Thanks for this proposal, I think that this kind of module is indeed a good idea !

Maybe you could call this script `external_script` ? I have a few remarks wrt your code :
* 1 second cache_timeout is a bit short and would hammer machines, maybe a default of 15 would be better
* output_color could be called `color`, sounds simpler
* make sure it runs with both python2 and python3 plea

[2015-06-22 17:44] ultrabug commented on #103
You're absolutely right @frimdo, I've fixed it thank you :) does it fix your issue tho ?

[2015-06-22 17:46] frimdo commented on #103
I still have problems executing "py3status modules list" in comand line

[2015-06-22 17:47] ultrabug commented on #103
Can you show me more ? copy/paste your terminal or something ?

[2015-06-22 17:51] frimdo commented on #103
pc@frimdo:~/$ py3status modules list
usage: py3status [-h] [-c I3STATUS_CONF] [-d] [-i INCLUDE_PATHS] [-n INTERVAL]
                 [-s] [-t CACHE_TIMEOUT] [-v]
py3status: error: unrecognized arguments: modules list
pc@frimdo:~/$

[2015-06-22 17:52] ultrabug commented on #103
and your version of py3status ? `py3status -v`

[2015-06-22 17:53] frimdo commented on #103
py3status version 2.2 (python 2.7.10)

[2015-06-22 17:54] ultrabug commented on #103
Okay then it's simple, this modules listing has been added in py3status v2.4 mate, please upgrade ;)

[2015-06-22 17:59] frimdo commented on #103
So there is just 2.2 available in fedora repository. My mistake, I'm sorry. Thanks. :-)

[2015-06-22 18:00] ultrabug commented on #103
Then ping your friendly packager ;) or use by pip as you wish ! Cheers mate.

[2015-06-22 18:00] #103 closed

[2015-06-22 20:25] frimdo commented on #104
OK, [here](https://gist.github.com/frimdo/45b8a2dbb260366bc9ef) is `<external_script>`, everything should work and be ready to go ;-)

[2015-06-22 22:40] frimdo opened #105 "New module - static_string"
Extremely simple [module](https://gist.github.com/frimdo/4020e56d9ac08b2bf6c3) solving problems with not finished formatting of output of modules and multicoloring output. :-)

[2015-06-25 10:39] ultrabug commented on #105
Thanks @frimdo, could you please fork and make a proper pull request for both your proposals ?

This would allow me to comment on the code for review and also have you listed as a contributor of py3status !

Cheers

[2015-07-23 10:33] gerritwalther commented on #94
This issue occurred to me in the last 2 weeks. I also have py3status 2.4. Unfortunately I'm on Debian and am using pypi-install and there is no option to install packages that are not from PyPI (according to the man page). Do you already have any plans to publish a new release?

[2015-07-23 11:27] ultrabug commented on #94
@gerritwalther well I was rly busy the last couple of weeks so this delayed my plans for the 2.5 release which I'd like to contain the issue #98 RFC.

For now, I would recommend copying the fixed module file from the sources to your local import folder (default `~/.i3/py3status/`) and it will override the distribution's one with nothing to change on your side.

Would this work for you ?

[2015-07-23 11:43] gerritwalther commented on #94
@ultrabug Awesome. Haven't thought of that :)

[2015-07-23 20:09] olhotak opened #110 "timezone option in tztime ignored"
My config file is the following:
[code]

With this config file, `i3status` displays:
`2015-07-23 22:02 | 16:02 EDT`

However, `i3bar` configured with `py3status` displays (in the status bar):
`2015-07-23 22:02 | 22:02`

Notice that:
1. The time is in the wrong timezone (22:02 instead of 16:02).
2. The timezone identifier (EDT) is missing (yet it is supposed to be there due to the `%Z` in the forma

[2015-07-24 12:00] ultrabug commented on #105
this module was added in your PR, closing

[2015-07-24 12:00] #105 closed

[2015-07-24 12:00] ultrabug commented on #104
this module was added in your PR, closing

[2015-07-24 12:00] #104 closed

[2015-07-24 12:03] ultrabug commented on #110
Hi @olhotak

The problem here is the "%Z" I think and it's a tricky one because the C and python implementation of it is different.

First of all, can you confirm that removing `%Z` fixes the issue ?

[2015-07-24 12:37] olhotak commented on #110
Thank you for replying so quickly.

Yes, removing `%Z` fixes the first issue: the timezone is now correct.

[2015-08-02 14:53] h8h opened #111 "Hard coded wifi interface causes lots of error logs"
Is it correct that [Nic](https://github.com/ultrabug/py3status/blob/master/py3status/modules/netdata.py#L55) is hardcoded? Because I'm getting a lots of error logs
[code]
I don't even have this interface.

// EDIT
Sorry for filing up this issue, i don't read the wiki carefully enough.
[code]
So thats bug then, its a wrong description, should be
[code]

[2015-08-03 09:32] ultrabug commented on #111
Thanks a lot @h8h, I fixed the typo (which I introduced when cleaning up modules, go figure..) !

But yes, it's sane to provide a 'default' I guess.

[2015-08-03 09:32] #111 closed

[2015-08-07 18:00] aux0 opened #112 "Typo in the keyboard_layout module"
`xbklayout` function should be `xkblayout`, i.e. "kb" instead of "bk". This typo appears 3 times in total.

The rest of the code uses "kb" so I assumed what I found was a typo and decided to report it since it already caught my eye.

[2015-08-09 11:21] #112 closed

[2015-08-09 11:22] ultrabug commented on #112
Thanks @aux0 for spotting and @jantuomi for fixing :) cool collaboration !

[2015-08-16 18:36] sethwoodworth opened #114 "Document meeding python-mpd2 package"
The arch package doesn't pull this requirement by default but it needs to be installed

[2015-08-16 18:47] sethwoodworth commented on #114
Uhhhhhhhhh, somehow missed the documentation.  My bad!

[2015-08-16 18:47] #114 closed

[2015-08-26 17:50] ndalliard opened #117 "After upgrade from 2.4 to 2.5 the status bar is empty"
Hello,

after the upgrade from 2.4 to 2.5 my status bar is empty. I am using Arch Linux.

My i3status config:
[code]
This line is from the i3 config file:

[code]
And the python files are located in the py3status folder.

[2015-08-26 19:14] Horgix commented on #117
Hi,

I'm maintaining the Arch package for py3status and running 2.5 version without any trouble. Same for some friends of mine. I'll take a look into that tomorrow anyway :)

Is that intented to have number before modules names in "order += ..." part ?

[2015-08-26 19:34] ndalliard commented on #117
That is intended. I tried to remove the numbers but still an empty status bar. Thanks for looking into that. Here is a link to the modules, maybe that helps: https://github.com/ndalliard/dotfiles/tree/master/.i3/py3status

[2015-08-26 21:17] ultrabug commented on #117
I'll have a look too tomorrow mate !

[2015-08-27 07:36] Horgix commented on #117
https://github.com/ndalliard/dotfiles/blob/master/.i3/py3status/0connection.py#L25

Any reason to return a tuple with `return (0, response)` ? What I'm returning in my modules is simply a dictionnary. Try returning only "response" maybe. @ultrabug : can you confirm that ? Didn't look that much in how py3status handles modules answers.

[2015-08-27 07:37] Horgix commented on #117
And indeed the example modules only returns a dictionnary : https://github.com/ultrabug/py3status/blob/master/doc/example_module.py#L105 , not a tuple (int, dictionnary)

[2015-08-27 12:58] ultrabug commented on #117
@Horgix : yes old school modules did provide a (position, response) tuple before which has been obsoleted by the order += mechanism.

I think I was a bit hasty in dropping the support of such response for compatibility reasons obviously !

I'll implement it back

[2015-08-27 13:12] Horgix commented on #117
@ultrabug : ok, at least we know where it comes from now :)

[2015-08-27 13:13] Horgix commented on #117
@ndalliard : either :
* downgrade py3status to before 2.5 (dropped support for the (<pos>, <dict>) answer format)
* update your modules with only "return response"
* wait for @ultrabug to revert the format drop

[2015-08-27 13:16] ultrabug commented on #117
@ndalliard : if you can, I would greatly appreciate you install py3status by hand from the `fix/cli_available_modules_detection` branch and report if it fixes all your problems ?

Thanks !

[2015-08-27 13:53] ndalliard commented on #117
@ultrabug : The branch `fix/cli_available_modules_detection` fixes all problems.
Works like before. Thanks a lot!

[2015-08-27 16:33] ultrabug commented on #117
Cool @ndalliard thanks ! I'm glad to say that version 2.6 is now out !

Btw, looking at your own modules you may be interested to know that most of them are already proposed in py3status official modules:
- 0connection -> whatismyip or online_status module
- 10netdata -> netdata module
- 20sys -> sysdata module
- 70uname -> uname module ;) thx to you

See the `py3status modules list` command and `

[2015-08-27 16:34] #117 closed

[2015-10-01 10:52] ultrabug commented on #98
pomodoro module OK thanks to @schober-ch !

[2015-10-02 08:45] ndalliard opened #122 "python 3.5 broke py3status on arch linux"
I updated to python 3.5 yesterday on my arch linux machine and that broke py3status.

Here the error message I get:

[code]

[2015-10-02 08:49] ultrabug commented on #122
Hi Nate,

I think this is normal since py3status is seen as a python package. Did you install it using AUR or pip ?

If you did use pip, you have to reinstall it manually since pip has no python version dependency tracking (the same will happen with all your manually installed pip packages)

If you did use AUR, then I guess there is a missing python version dependency tracking as pacman should hav

[2015-10-02 08:51] ndalliard commented on #122
I did it with the AUR. How can I manually trigger a rebuild of all my python packages? Thanks!

[2015-10-02 09:18] ultrabug commented on #122
ping @Horgix for information, maybe something is missing to tell the AUR package to automatically rebuild when a new python version is released.

[2015-10-02 09:18] #122 closed

[2015-10-13 06:26] epaaj opened #124 "Spotify modules doesn't work with latest version of Spotify"
The Spotify modules doesn't work with the latest version of Spotify.
There seems to have been som changes to the data in dbus.

[2015-10-13 08:51] ultrabug commented on #124
ping @guilbep, mind looking into it mate ?

[2015-10-13 09:15] jakubjedelsky commented on #124
fyi, I just found some release notes for [1.0.13](https://community.spotify.com/t5/Spotify-Community-Blog/Spotify-beta-1-0-13-for-Linux-released/ba-p/1197675):

- The application identifier is com.spotify.music, not com.spotify.qt
- The album artist field (xesam:albumArtist) is now respected and filled in if available
- The xesam:url property is now a proper URL (it was previously a Spotify URI)
-

[2015-10-21 12:04] ultrabug commented on #124
@jakubjedelsky & @epaaj, mind trying @pydsigner's code and reporting if this fixes the issue ? I'm no spotify user so this would help a lot. Thx

[2015-10-21 13:05] epaaj commented on #124
Those changes does not work for me. It still does not recognize that Spotify is running.
I got it to work with some changes of my own. But I'm a newbie when it comes to DBus.
See #130

[2015-10-21 14:07] pydsigner commented on #124
@epaaj I'm not a DBus expert either (and don't plan on becoming one.....) but if that works for you then that's probably a good thing.

[2015-10-26 10:49] ultrabug commented on #124
Fixed by @epaaj on MR #130 , thanks to everyone !

[2015-10-26 10:49] #124 closed

[2015-10-27 18:48] Anon1234 opened #133 "[question] Best prictice for injecting default attributes"
I am not quiet get how the per-block attributes from i3status.conf (like align, min_width, separator etc) are being injected in py3status module response. Do i need to do it manually? If so, what is the best way to do it?

[2015-10-28 10:45] ultrabug commented on #133
Hi, are you talking about the i3status `general` configuration block ? if so, it is passed as the second argument to every modules' methods (i3s_config) so you can use it as you please.

[2015-10-28 11:06] Anon1234 commented on #133
No, i mean this stuff: https://i3wm.org/i3status/manpage.html#_universal_module_options
For example, i have this block in i3status.conf:
[code]
Will the "universal options" be included in the my_py3status_module output dictionary without any code in my module?

[2015-10-28 13:50] ultrabug commented on #133
Oh ok.

No they will be available in your `my_py3status_module` as class attributes : self.align / self.min_width etc..

[2015-10-28 21:06] Anon1234 commented on #133
Thank you for the explanation. I come up with this code and have spotted that a boolean values from ```i3status.conf``` are not being parsed at all. I created PR #134 to fix this problem.
[code]

[2015-10-28 21:06] #133 closed

[2015-10-30 12:44] #110 closed

[2015-10-30 12:44] ultrabug commented on #110
FYI as you can see, I've coded a workaround which allows %z to be used now. This will be available in the 2.7 release :)

[2015-10-30 13:32] ultrabug commented on #98
keyboard_layout module OK

[2015-11-12 22:42] narspeth opened #139 "battery_level 'format' doesn't work"
or i just can't understand how it works. ```mode``` works fine.

[2015-11-13 16:18] ultrabug commented on #139
Hi @narspeth

Well this module has had quite some attention lately mainly thanks to @maximbaz.

The `mode` config is deprecated, you should use the `format` option and play with the available placeholders there. They are listed in the doc which you can get by running `py3status modules details`.

[code]

[2015-11-20 01:01] fxleblanc opened #141 "Bitcoin charts not reloading when waking up from sleep"
To view the data again, I had to reload i3 itself. Is there a way to reload specifically the bitcoin price plugin?

[2015-11-20 08:34] ultrabug commented on #141
Hi @fxleblanc,

Do you mean to refresh the data ? If so, the default "force refresh" behaviour is to middle click on the module you want :)

[2015-11-20 13:27] fxleblanc commented on #141
Sorry, I wasn't clear enough. What happens is that when I lose my internet connection, say when I go in sleep mode and go away from a wifi hotspot, the ui prints that Bitcoincharts is unreachable when I come back from sleep and connect to a new wifi hotspot . I'll try to click next time and I'll give feedback.

[2015-11-21 21:53] fxleblanc commented on #141
The middle-click worked. It just takes some time. I was thrown off at first because of the message. Thanks for your patience.

[2015-11-22 15:55] ultrabug commented on #141
@fxleblanc about the time it takes, if you're using the latest py3status 2.7 it should be instant unless the bitcoin server used takes time to connect/response ;)

Have fun, closing !

[2015-11-22 15:55] #141 closed

[2015-12-02 14:29] mkaito opened #143 "Check local mailbox"
Can the imap module check a local Maildir?

[2015-12-02 16:25] Horgix commented on #143
AFAIK, there isn't such a module available publicly for py3status.

However, if you are running Thunderbird on your computer and want to check the unread emails among those stored locally, you can use this (did it a some months ago before noticing there was already an imap module) :

Add the "unread-count" module to Thunderbird : https://addons.mozilla.org/en-US/thunderbird/addon/unread-count/ . I

[2015-12-03 23:15] mkaito commented on #143
Nope, I use offlineimap, notmuch and emacs :stuck_out_tongue:

[2015-12-06 09:46] ultrabug commented on #143
@mkaito are you sure $MAILDIR is a standard way to get a user's local mail directory ? On my machine this outputs nothing.

If you're willing to help and contribute this module, I'll be glad to provide guidance / review or even implement it for you, your call mate !

@Horgix : maybe we can also hook in your code above in the module and provide a `thunderbird = True` configuration to get it from th

[2015-12-06 14:07] mkaito commented on #143
@ultrabug nope, that was just an example. The default is usually `~/Maildir`.

I don't see why this needs to be a separate module. This and IMAP should be part of a `mail` module, in my opinion.

The `imap` module also won't work for me since I use a self signed SSL cert, and there doesn't seem to be an option to disable cert verification.

It's been a couple years since I wrote any python. I'm no

[2015-12-12 16:25] ultrabug commented on #143
@mkaito ok I get your points. I'll leave this issue open while I actually find the time to make an attempt at this.

[2015-12-12 16:36] mkaito commented on #143
Thanks!

[2015-12-15 15:58] Kuchenm0nster opened #148 "spotify.py"
Hi, I'm new to github and this kind of stuff.
spotify.py does not recognize my spotify and tells me it is not running so i looked into the code and fixed it.
Maybe you can look into it and merge it?

[2015-12-15 18:02] ultrabug commented on #148
Hi @Kuchenm0nster welcome and thank you, I'm always very happy when new comers start their contributions on py3status !

Let's discuss this on your PR #149 !

[2015-12-15 18:02] #148 closed

[2015-12-16 21:59] ccryx commented on #139
I can confirm that using the format option doesn't work.
Relevant part of the config file:
[code]
What I would expect: The text "asdasd x%" (with a value for x) is displayed.
What happens: A white block (I assume the default) is displayed.

I think this is not restricted to the battery widget. I observe a similar behavior with the pomodoro widget (keeps displaying the default format instead of my

[2015-12-17 00:07] maximbaz commented on #139
@ccryx, perhaps a silly question to ask, but which version of `py3status` are you running? The latest `master`?

I've just updated my py3status to the latest `master`, and with your config I observe "asdasd 39". Perhaps someone else could try as well and post their results? @ultrabug? :smile:

[2015-12-17 13:09] ccryx commented on #139
I guess I should have just gone to bed last night :D It works fine with the latest git `master`.

[2015-12-19 16:51] squizduos opened #151 "Keyboard layout cache control"
Keyboard_control have cache_timeout = 10, hardcoded in source code. It leads to 10-second delay, while I change keyboard layout, for example, I change it from *us* to *ru*, for next 10 seconds i write russian symbols, but see *us* in keyboard layout indicator.

[2015-12-20 11:28] Anon1234 commented on #151
You can modify the `cache_timeout` parameter in your `i3status.conf` like this:
[code]

[2015-12-20 16:24] ultrabug commented on #151
Just as @Anon1234 says ! :)

Also @squizduos I'd suggest NOT making a such low cache_timeout but instead **change your i3 binding** so that changing your layout also trigger a `killall -USR1 py3status` which will force reload your modules at once. You'll get the benefit of instant update without running a command every second in the background to check for the keyboard layout ;)

[2015-12-22 17:40] ultrabug opened #153 "200th star wish"
Hi @eivindj !

You're the 200th star of `py3status` thank you very much and congratulations :)

As being the one, I came up with the idea of asking you about the module of your dream you would wish to see available in py3status ? I'll be glad to make it happen for you !

Cheers :+1:

[2015-12-22 17:47] eivindj commented on #153
Hi .

That's a tough question, I recently started looking into i3status setups
again :)

I'll get back to you when I can think of something

On Tue, Dec 22, 2015 at 6:41 PM, Ultrabug <notifications@github.com> wrote:

--
Best regards,
Eivind Josten
Infrastructure Engineer
Kahoot!

[2015-12-23 23:56] nkv123 opened #154 "new to python a bit confused with setup"
I am new to python and to i3wm enviroment
I am sending screenshot of my bar and i3status.conf and piped vnstat command

I hope u can explain to me what I did wrong with vnstat
vnstat is installed it on my sistem (ubutnu 14.04)
as its seen in image "vnstat down","vnstat up","vnstat total"

![2015-12-24-00 46 50_1920x1080_scrot](https://cloud.githubusercontent.com/assets/4409902/11987026/18d554a4-a9

[2015-12-24 13:05] ultrabug commented on #151
closing, please reopen if you need more help mate.

[2015-12-24 13:05] #151 closed

[2015-12-24 13:06] ultrabug commented on #139
@narspeth can we close this ? is it okay for you now ?

[2015-12-24 13:54] ultrabug commented on #154
Hello @nkv123 welcome then !

Ok here it is:
* you can remove the `(0 - 800: white, 800-900: yellow, >900 - red)` which is meant as a comment for the coloring variable.
* you can remove the `name` parameter because you already use an instance name `vnstat down`
* you should use the `format` parameter to say what you want to display for each instance, by default it's the `{total}` that's displayed

[2015-12-26 21:39] nkv123 commented on #154
Everything works now thx a lot

[2015-12-26 21:39] #154 closed

[2015-12-27 15:24] ultrabug commented on #139
closing, reopen if needed mate.

[2015-12-27 15:24] #139 closed

[2016-01-06 19:34] pydsigner commented on #143
@mkaito What specific SSL error was imap giving you? There should be ways to make imap do what you need it to for auth.

It would be good to support maildir and mailbox formats though.

[2016-01-06 23:09] pydsigner commented on #143
@mkaito Did you try the imap module before giving up on it? imap uses imaplib.IMAP4_SSL, which does not verify server certs itself....

[2016-01-12 13:21] nazco opened #158 "problem with the i3status ipv6 module"
With the current version 2.8 of py3status it seems like the ipv6 module isn't evaluated anymore. Every system I run with this current version the IPv6 address isn't shown thought the ipv6 module is loaded in my i3status.conf. With an older version it was shown until I updated my py3status installation.

[2016-01-12 13:28] ultrabug commented on #158
Hi @nazco , I'm very surprised since 2.8 release only features changes on modules, not the core itself.

Did you update i3status as well ? maybe something changed there that I didn't notice.

Also, please check your user logs for py3status messages ?

Cheers

[2016-01-12 13:33] nazco commented on #158
Sorry I was unprecise I've updated from a py3status version from over one year ago to the current 2.8 version and I'm running i3status 2.10. Unfortunately there is no error or warning in the log even if I enable debug mode.

[2016-01-12 13:46] ultrabug commented on #158
so the thing is that the ipv6 module does not show right ? if so, would you mind showing the py3status_ prefixed file you have on /tmp plz ?

[2016-01-12 14:02] nazco commented on #158
Yes, the ipv6 module does not show at the moment.
The file from tmp:
[code]
The config file:
[code]

[2016-01-12 16:42] pydsigner commented on #158
Quick sanity check — do you have more than one py3status_ prefixed file in /tmp?

[2016-01-12 16:55] nazco commented on #158
Nop. Only one file with the prefix.

[2016-01-12 17:04] ultrabug commented on #158
@nazco I think py3status is somehow missing to copy over the ipv6 module on the `order` parameters. Would you mind making a false ipv6 module config like :

[code]

Then reload your i3 and show us the resulting py3status_ prefixed file in /tmp please

[2016-01-12 17:17] ultrabug commented on #158
Ok I found the culprit on the py3status core L338, the module gets cleaned up because it's not configured and it seems I thought the ipv6 had no default config, which is a mistake obviously...

I'm sure by adding a config like I suggested above, you"ll get an output :)

I'll have to test every i3status module default behaviour again and update the core accordingly !

Thanks again for reporting the

[2016-01-12 23:32] nazco commented on #158
with your configuration snippet everything works fine :) So it looks like you have to configure it explicite at the moment.

[2016-01-12 23:45] nazco opened #159 "icinga2 module"
I've written an icinga2 module for py3status. Would you like a PR? https://github.com/nazco/i3status-modules

[2016-01-13 04:43] pydsigner commented on #159
I think it looks really useful, although I don't use icinga myself.

[2016-01-14 09:08] ultrabug commented on #159
sure @nazco ! any added module will help all the users :) thanks !

closing here, FU on #160

[2016-01-14 09:08] #159 closed

[2016-01-14 10:14] FlorentDancy opened #161 "[Battery Level Module] Problem with on-click notifications"
Hi,

I activated the notification parameter in the battery_level module, but when I click on the bar this is what I get (/var/log/everything/current) :

[code]

Any idea of where it comes from?

Thanks in advance!

Flo

[2016-01-14 10:35] ultrabug commented on #161
It's a typo in the module's onclick function yes, I'll check out why this happened thanks

[2016-01-14 11:04] ultrabug commented on #161
@FlorentDancy would you care testing with the battery_level from master ? You just have to copy it over to your `~/.i3/py3status/` folder

[2016-01-14 14:16] FlorentDancy commented on #161
@ultrabug Thanks, it works perfectly fine now!

@Shir0kamii is gonna do a pull request soo to still display a notification even when the laptop is in charge.

[2016-01-14 15:24] ultrabug commented on #161
Thanks, FU as per #162

[2016-01-14 15:24] #161 closed

[2016-01-15 14:33] #158 closed

[2016-01-16 04:03] rail opened #164 "battery_level's blocks variable doesn't handle unicode properly"
If I use something like
[code]
it crashes `py3status` and the nagbar shows something like
[code]

This doesn't happen when it's charging, so I guess something is wrong with https://github.com/ultrabug/py3status/blob/master/py3status/modules/battery_level.py#L287 (`self.icon = self.blocks[...`)

[2016-01-16 13:53] ultrabug commented on #164
strange @rail, I can't reproduce your bug with py2 or py3... are you running the latest battery_level module from master ?

[2016-01-16 14:16] rail commented on #164
Hmm, now that you asked, I cannot reproduce it properly either... :/
Now I don't get any nagbar errors, but have space character (0x40) instead of expected unicode one in the bar...
Just checked, I'm using 7a595c8abac314f4087aef3109ff4824efc5fc71 (current master).

[2016-01-18 17:11] btall opened #165 "The events on_click aren't received on ``tztime local``"
I've a weird comportment on the events ``on_click`` in the block
[code]

When I click on the clock, I've this error message
[code]
But it works, when I use on the block ``time`` instead of ``tztime local``.

[2016-01-20 03:33] pydsigner commented on #164
I'd check with various fonts to see if it's just a missing glyph in the font.

[2016-01-20 16:26] ultrabug commented on #165
I can't reproduce this so far... will keep trying !

[2016-01-20 19:23] UmBsublime opened #166 "spotify module generates errors in /var/log/messages"
Errors in my /var/log/messages: py3status:
[code]
Here is my config for the module

[code]

And my py3status version

[code]

I'm not sure, but I think this is because the method getText should be renamed _getText.

When doing this locally the error dispersals.

[2016-01-20 21:41] pydsigner commented on #166
Good catch.

[2016-01-20 22:25] UmBsublime commented on #166
Awesome !

[2016-01-20 22:25] #166 closed

[2016-01-21 15:26] ultrabug commented on #165
As debugged with you, it's not related to py3status but to your i3status version. Old versions of i3status does not pass the "instance" value of the time and tztime modules !

[2016-01-21 15:26] #165 closed

[2016-01-22 15:06] AnwariasEu opened #168 "Spotify unable to get playback status"
Hey, is any other other distro beside arch running spotify 1.0.19 having problems retrieving the playback status? If so a fix for that query is needed.
In case it is arch specific please confirm so a patch for the arch package can be submitted.

[2016-01-22 15:30] pydsigner commented on #168
Possible duplicate of https://github.com/ultrabug/py3status/issues/166?

[2016-01-22 15:31] pydsigner commented on #168
Take a look at that issue and check if you are having similar errors show up in your py3status logs.

[2016-01-22 20:11] pydsigner opened #169 "Issues with click events crashing py3status"
I used to only every once in a while have a click event crash py3status while I was using 2.6 with Python 2.7.5 running CentOS. Now on 2.8 with Python 2.7.11 on Manjaro, most of my click events cause py3status to crash.
This isn't a module issue, because inspection shows that the crash occurs inside IOPoller. Interestingly, it seems to happen at:

[code]

(https://github.com/ultrabug/py3status/blo

[2016-01-22 20:14] pydsigner commented on #169
I think it's worth mentioning that IOPoller and Events could use a major overhaul; trying to half-parse JSON line by line is not an effective solution.

[2016-01-23 11:02] AnwariasEu commented on #168
It seems the problem is the implementation of the dbus api by spotify.
The following command does not return anything and results in a timeout.
dbus-send --print-reply --session --dest=org.mpris.MediaPlayer2.spotify /org/mpris/MediaPlayer2 org.freedesktop.DBus.Properties.Get string:'org.mpris.MediaPlayer2.Player' string:'PlaybackStatus'
When 'PlaybackStatus' is replaced by 'Metadata' the metadata

[2016-01-23 18:22] ultrabug commented on #168
Reminds me of #149 :(

As I'm no spotify user, I must admit I can't think of anything better. What you wanna do with this issue @AnwariasEu ?

[2016-01-24 12:21] ultrabug commented on #169
hmm it seems you're the master of the click event breakage discoveries ;)

Well I'm wondering whether you could replace the legacy poller used (poll, for max compatibility) by `epoll` which is a more advanced one and see what happens ?

[2016-01-24 12:22] ultrabug commented on #169
As for the implementation overall, I agree that it could be better, have a POC in mind ?

[2016-01-24 20:30] pydsigner commented on #169
I don't think that signal.poll is the real issue, the thread wasn't crashing there. What I stupidly didn't test was wrapping a try-except around the offending code to see what error was being thrown. Will check and see what happens.

[2016-01-24 20:49] ultrabug commented on #169
Meanwhile you got my mind thinking on an overall rewrite of the polling stuff, I'm writing some POC as we speak, dunno what will come out of it...

[2016-01-25 12:54] AnwariasEu commented on #168
Seemes like the same problems as in #149
I have submitted two pullrequests both are only workarounds.
If other distros don't have any problems i will submit them to the arch package.

[2016-01-25 13:56] NeoTheFox opened #172 "battery level - does not updates config"
http://i.imgur.com/OFwSbZG.png

battery_level section of config gets ignored

[2016-01-25 15:07] #172 closed

[2016-01-25 15:10] pydsigner commented on #169
[code]

[2016-01-27 11:46] Cilenco opened #173 "Wireless onClick not wirking"
I use the default i3 plugin wireless _first_ to display my wlan connection. The _first_ is replaced automaticly by i3 with the first network interface name which is found on the device. I have added:

on_click 1 = "exec --no-startup-id nm-connection-editor"

to the module but it does not work. If I replace _first_ with my network interface name it works great. I think py3status registers a click l

[2016-01-27 12:45] ultrabug commented on #173
Hi @Cilenco, would you mind telling me what version of py3status you're running ?

[2016-01-27 13:59] Cilenco commented on #173
I'm using py3Status version 2.6 with python 3.5.1

[2016-01-27 14:04] ultrabug commented on #173
Then please update to at least 2.7, it was a bug that's been fixed since then mate :)

https://github.com/ultrabug/py3status/blob/master/CHANGELOG#L16

[2016-01-27 14:06] Cilenco commented on #173
Okay thank you for that and sorry for the inconvenience!

[2016-01-27 14:09] ultrabug commented on #173
np mate, happy to help

[2016-01-27 14:09] #173 closed

[2016-01-29 17:37] cornerman opened #174 "Wrong module guess for click event with multiple volume blocks"
I have defined two volume blocks for two different pulse devices. When defining click events, clicking on either block runs the onClick action of the first module.

The configuration looks like this:
[code]

Log when running py3status with this configuration and clicking on the first block:
[code]

Clicking on the second block does not dispatch the event to the second module ```volume slave```, bu

[2016-01-30 13:40] cornerman opened #177 "Support for format_time in tztime module"
The tztime module from i3status introduced another ```format_time``` option to enable pango markup: https://i3wm.org/i3status/manpage.html#_tztime

As py3status handles the tztime module, this new option needs to be taken into account when parsing the time's format. Currently, when using ```format_time```, the time stops updating and adds the ```%Y,%m,%d``` formatstrings to the time (see [here](ht

[2016-01-30 14:19] ultrabug commented on #177
thx @cornerman for testing, it's fixed and merged :)

[2016-01-30 14:32] ultrabug commented on #174
As discussed on IRC, this is not directly a py3status bug. It is related to the fact that i3status does not send the same instance name from its config to the event message... I'll find a workaround !

[2016-02-02 16:15] ultrabug commented on #168
Thx, closing here and will discuss on the PRs.

[2016-02-02 16:15] #168 closed

[2016-02-02 16:15] ultrabug commented on #164
@rail I'm not sure what's expected of me here plz ? :(

[2016-02-02 16:16] ultrabug commented on #169
I know it's dirty, but does a simple try/except IOError fix the problem for you ?

[2016-02-02 16:22] ultrabug opened #178 "RFC : module_group / scroll_group"
**Dear py3status users, tell us what you think !**

As discussed in PR #155 with @tjaartvdwalt and @pydsigner.

A `scroll_group` or `module_group` whatever the name handled by py3status would allow users to **group multiple modules together** and switch between them using the mouse scroll buttons (4 and 5) !

This way users could still benefit from click events on mouse buttons 1, 2 and 3 on each

[2016-02-02 19:04] rail commented on #164
I managed to reproduce this. Running `py3status --debug`  and some extra `traceback.print_exc()` I get

[code]
the value of  `json_list` is
[code]

[2016-02-02 19:11] rail commented on #164
BTW, in my case `len(self.blocks)` is 16

[2016-02-02 19:56] rail commented on #164
OK. To make it work I had to modify the code that handles the icon to look like this: https://gist.github.com/rail/3a17a0e76323cd9a4dfa

The idea is that everything coming from the config is either `str`, `int` or `bool`. We need to make sure to convert it to `unicode` first (`.decode("utf8")`) to make indexes work properly. Then you need to convert it back to make sure it works with `self.format.

[2016-02-03 05:02] shrimpza commented on #178
The only thing I think is weird, might be the requirement for unique module names, and the `_first_` work-around for that (I presume there must be unique `<module> [param]` combinations within a single config). If a user is at this point of customisation of their configuration, is backward compatibility with a default i3status config still a requirement?

Could a configuration something like this

[2016-02-03 13:40] ultrabug commented on #164
I guess that with your last comment you'd expect the py3status core to do this for you ?

[2016-02-03 14:36] rail commented on #164
I don't actually know... It may not work for all cases. The fact that I use UTF-8 in my config doesn't mean that everybody uses it.
Maybe this module should stop using indexes to calculate what icon to show? Maybe have a limited set of configurable icons for each state? Or use a hack to implement lists in the config (icon_1, icon_2, ...)?

[2016-02-03 15:39] UmBsublime commented on #178
Hi,

Kenneth's config solutions would be really nice to make this really simple
to setup !!!

On Wed, Feb 3, 2016 at 12:02 AM, Kenneth Watson <notifications@github.com>
wrote:

[2016-02-16 11:44] pedro-nonfree opened #179 "pomodoro module is not updating timer when i3bar is not visible"
Hi,

Pomodoro's module timer is stopped when i3bar is not shown in display, situations where I found this:
- using a tty (ctrl+alt+f1)
- with [mode hide](http://i3wm.org/docs/userguide.html#_display_mode)
- in [full screen](http://i3wm.org/docs/userguide.html#_default_keybindings)

I don't know if this could affect other modules that require to be updated.

For me this is a big issue that I don't

[2016-02-16 14:50] ultrabug commented on #179
Hello @pedro-nonfree,

Well this behaviour is expected when running with **mode hide** only imho (I can't reproduce when doing full screen or switching to tty).

This is not related to py3status but is instead a feature of i3bar.
- When the bar gets hidden, the i3bar code sends a SIGSTOP to the whole process (py3status included) so everything is freezed.
- When the bar is unhidden, a SIGCONT is se

[2016-02-16 14:55] ultrabug commented on #178
Okay guys, but I really don't get how py3status is supposed to *flatten* those two configurations together ? Because one way or another, it has to execute i3status to get its output and i3status doesn't accept such dual module definition :(

An idea @shrimpza ?

[2016-02-16 18:13] pedro-nonfree commented on #179
I'm using self compiled version:
`i3 version 4.11-31-gd3f42c2 (2015-11-16, branch "master") © 2009 Michael Stapelberg and contributors`

in Debian 8.3 Stable Jessie

I don't know why you cannot reproduce it.

Timestamp is a nice idea!

[2016-02-16 18:23] Anon1234 commented on #179
@pedro-nonfree another workaround could be recompiling i3 with reverted a83e7699e7 commit.

[2016-02-17 07:34] ultrabug commented on #179
Problem with timestamp @pedro-nonfree is that you still would never get your pomodoro's notifications ! This defeats the whole point of it don't you think ?

[2016-02-17 10:17] pedro-nonfree commented on #179
@Anon1234 Oh no, back to 2010 ? :cry:

@ultrabug Use case is not always being in this "hide" situations. So you receive a late notification, better than nothing.
Uh, and I don't know why you cannot reproduce this for full screen (Mod + F) or going to tty.

Thinking in a better design, what about starting an independent background process for the timer and notification, and share that info with py3

[2016-02-17 16:32] pydsigner commented on #179
@ultrabug We definitely need to fix the pomodoro countdown to look at time.time() changes rather than naively assuming 1 sec/update.
@pedro-nonfree I think that this is a good use case for the proposed py3status IPC capability; have a pomodoro daemon that sends updates to the pomodoro module.

Alternatively, this could be addressed now by using subprocess to communicate with a pomodoro process. I'

[2016-02-17 16:34] pydsigner commented on #179
@pedro-nonfree You wouldn't be going back to 2010, @Anon1234 is suggesting that you only revert that one commit. So you'd just run something like `git revert a83e7699e7` and then recompile.

[2016-02-17 16:36] pydsigner commented on #178
Another thing to consider with this: a volume meter will probably want to use the scrollwheel to adjust the volume.

[2016-02-17 17:59] pedro-nonfree commented on #179
@pydsigner
First time I `git revert`, merged blindly, but I experience the same problems as described in my first message.

[2016-02-17 19:39] Anon1234 commented on #179
This patch works for me:
[code]

[2016-02-17 20:26] pedro-nonfree commented on #179
@Anon1234
I can verify that your patch (with suggested git revert) pomodoro works as expected in my 3 use cases described! Such nice!

Now my question for i3, I understand this is a sweety optimization, but is necessary, really?

[2016-02-17 20:34] Anon1234 commented on #179
@pedro-nonfree you don't need to revert if using the patch

[2016-02-17 20:44] pedro-nonfree commented on #179
@Anon1234 true, latest master with that patch works.

Correcting myself about that optimization: well, that commit fixed a bug...

And I found a related issue to **mode hide**: after first pomodoro (during break, or next pomodoros) i3bar cannot hide. Pressing mod key, i3bard hides and appears again perhaps during print/sleep 1.

[2016-02-17 22:51] maximbaz commented on #164
@rail could you make sure that your `.i3status.conf` config file is saved with utf8 encoding?

For the sake of experiment I saved my `.i3status.conf` file in `latin1` encoding (if you use vim, the command is `:set fileencoding=latin1`), after that reload i3 and I get the same issue as you ('utf-8' codec can't decode byte ...).

When I save it back in utf-8 (if you use vim, the command is `:set fil

[2016-02-17 23:06] rail commented on #164
Hmm, I can't even convert it to latin1 in vim. :) It complains about some conversion errors. Also
[code]
`:set fileencoding=utf8` doesn't change the file at all.

[2016-02-17 23:16] maximbaz commented on #164
Thanks, it was worth checking to eliminate the simplest ideas :)
Out of curiosity, which python do you use? `$ py3status -v`
I think in python3 the strings are by definition unicode, so I would be "less surprised" if you say that you use python2 :)

In my case it is:
[code]

[2016-02-17 23:52] rail commented on #164
Yup, exactly, switching to 3.5 fixed ALL the things. :) Apparently I my shell was automatically switching to 2.8 based virtualenv when I cd to the py3status directory.
[code]

Feel free to close the bug, unless we need to support python2.

[2016-02-17 23:52] rail commented on #164
Thank you for spending your time helping me. :)

[2016-02-17 23:53] pydsigner commented on #164
Python 2 support is a thing.

[2016-02-17 23:59] maximbaz commented on #164
@rail you are very welcome.

I wonder if this should be a more dedicated and careful effort to "Uniformize and standardize" (:wink:) the way unicode is supported across **all** modules for both python 2 and 3. I'm sure there must be some guidelines on how to best do this, perhaps some of the existing modules have them already implemented.

[2016-02-18 00:04] rail commented on #164
Maybe [six](http://pythonhosted.org/six/)? I haven't used it for strings, but maybe they have something implemented already...

[2016-02-18 00:19] pydsigner commented on #164
It'd be good to use Unicode internally. If necessary, we can allow
specifying the config file encoding in the py3status command line args, but
otherwise running `.decode('utf-8')` on the config file contents would work.

[2016-02-18 11:27] ultrabug commented on #164
I just tried a simple force decode of the i3status values in the issue164 branch. @rail, would this solve your issue by any chance ?

[2016-02-18 20:53] pydsigner commented on #164
@ultrabug I think it might be better to do this right when the file is read to the whole file.

[2016-02-21 00:21] GamerGurke15 opened #183 "No module named 'dbus'"
I don't know if this is a bug that only I experiencing because I have something weird but if I try to load the module spotify I get the error saying that loading the module failed because there is no module named 'dbus'.
Also I only get that error on my Desktop PC, with my laptop everything works fine. I tried reinstalling py3status but this changed nothing.

[2016-02-21 00:24] GamerGurke15 commented on #183
Ok I am really dumb, sorry, installed python-dbus and everything works fine...

[2016-02-21 00:24] #183 closed

[2016-03-01 16:07] nschubach opened #194 "module available, but getting py3status: loading module failed?"
Sorry if this is not the appropriate place, but I can't find a support list or forum?  I'm trying to add a status for mpc to my bar.  I looked at:

$ py3status modules list
  mpd_status             Display information from mpd.

So I assume it's "installed" and available.  I added the following to my .i3status.conf:

order += "mpdstatus"
and
mpdstatus {
        name = "♬"
        cache_timeout = 0

[2016-03-01 16:22] pydsigner commented on #194
You need to pass `-i path/to/my/modules/dir` to py3status in your i3 config.

[2016-03-01 17:55] nschubach commented on #194
I did do:
[code]

which I though installed, but running it again I get a long winded return that states:

No local packages or download links found for tox
error: Could not find suitable distribution for Requirement.parse('tox')
E: pybuild pybuild:274: test: plugin distutils failed with: exit code=1: python2.7 setup.py test
dh_auto_test: pybuild --test -i python{version} -p 2.7 --dir . returned ex

[2016-03-02 07:32] ultrabug commented on #194
Hi @nschubach

First of all, just so it's clear, all the modules listed by `py3status modules list` really are available to you. There's nothing more to install.

As far as I see it, the main reason is that you missed the underscore in the order and config of `mpd_status`. Here is an example of my working setup:

[code]

And yes, you have to install any dependency listed on the modules' doc before

[2016-03-02 16:01] pydsigner commented on #194
The problem with your install looks to me to be that you used `pypi-install`. I'm not familiar with that tool, but you should definitely be using `pip install` instead. Note that you might have to install pip first.

[2016-03-03 09:06] Horgix opened #199 "Doc: move from reStructuredText to Markdown"
Hi,

This issue follows the discussion on the PR #196 about how horrible is reStructuredText syntax.

So, I took a bit of time to look at it. I found [the issue about this fight](https://bitbucket.org/pypa/pypi/issues/148/support-markdown-for-readmes) and there may be some hope !

- Pypi parses the [`long_description` from the `setup.py`](https://github.com/ultrabug/py3status/blob/master/setup.py#

[2016-03-03 09:06] Horgix commented on #199
Ping @ultrabug and @pydsigner btw

[2016-03-03 14:18] ultrabug commented on #199
Thanks @Horgix, but I really think this is not worth the (continuous) effort and complexity.

[2016-03-03 17:00] nschubach commented on #194
I was using pypi-install because I'm on Debian and one of the install docs at one point said that I'd need to pull it that way instead of pip.  I haven't done any Python in some time so I just followed along.

[2016-03-04 03:00] pydsigner commented on #199
@Horgix I've been thinking about this issue as well. I'm mostly with @ultrabug on this, although I really want to see a markdown readme as soon as PyPI is obliging. I will note that I am automatically pinged on all py3status issues and PRs, and I'm sure @ultrabug is as well, so the explicit callout isn't needed.

[2016-03-04 07:11] #199 closed

[2016-03-04 07:19] ultrabug commented on #194
Yes I guessed you were a Debian user. This tip was given by a Debian dev who's a py3status user because you ended up with permission problems when using pip.

Did my comment above help you @nschubach ? are you still stuck ?

[2016-03-04 12:53] nschubach commented on #194
Sorry, been super busy with work and haven't had a chance to get back to this.  I'll carve out some time today.

[2016-03-04 14:25] tobes opened #201 "Making modules/README.md more friendly"
the current README.md https://github.com/ultrabug/py3status/tree/master/py3status/modules is hard to navigate and read.

I've had a go at making it more readable see  https://github.com/tobes/py3status/tree/modules_readme/py3status/modules#top

It's a work in progress I've done what I can using my vim skills without having to do much manual intervention.  If you are interested I'll manually fix it

[2016-03-04 16:14] pydsigner commented on #201
I like it, other than the `^top` links. I'd rather just hit Back in my web browser.

[2016-03-06 20:41] tobanw opened #204 "Load modules from XDG_CONFIG_HOME by default"
Currently, `py3status` modules are [loaded by default](https://github.com/ultrabug/py3status/blob/master/py3status/core.py#L51) from `~/.i3/py3status/` only. I suggest adding `~/.config/i3status/py3status/` (and possibly also `~/.config/i3/py3status/`) to the `include_paths` list. I'm currently specifying the path manually with the `-i` flag.

The `i3status.conf` is already [loaded from the XDG co

[2016-03-07 16:24] Horgix commented on #98
Checked up in the list :

- pomodoro
- keyboard_layout
- dpms

I supposed that new modules were compliant thanks to @ultrabug vigilance :)

[2016-03-07 19:54] tobes commented on #201
closing this as there is now a pull request for this feature

[2016-03-07 19:54] #201 closed

[2016-03-10 07:44] ultrabug commented on #204
I'm not forgetting your issue @tobanw and I think you got a good point.

It's just that for now there are some major PR open that need attention, please bear with me.

[2016-03-13 21:37] tobes opened #209 "The future and i3bar version 4.12"
With the release of i3bar 4.12 things are going to go a bit crazy

[code]
If I have i3bar 4.12 I have new exciting formatting, if not then I get a horrible bit of raw html.

I think it would be nice to keep compatibility with old and new versions of both i3bar and py3status

the simplest way I can see to do this is to make responses like

[code]

py3status could then use pango if we have i3bar >=

[2016-03-13 21:54] tobes commented on #209
Another option would be to have something like `'pango': True` in the `i3s_config` on the modules function calls so that the module knows it can use pango output

[2016-03-18 18:23] nschubach commented on #194
Finally got back to this and installing `python-pip` (Debian) then running `pip install python-mpd2` solved the issue.

Thanks for the help!

[2016-03-18 18:23] #194 closed

[2016-03-21 17:28] #178 closed

[2016-03-22 07:24] ultrabug commented on #209
Well yes, but the pango markup has been there for a long time now and always been available on i3s_config for modules to use or not.

AFAIK you had to add it to the main i3status.conf to enable it for the whole bar, has it changed ? I'm asking because you seem to say that a module could now have a `markup: pango` in its JSON and it would also work ?

That's already supported as it is yes.

[2016-03-22 09:30] tobes commented on #209
Ok, I thought the pango was new.  `background` has definitely been added in this version.  I've been pondering this and actually it's not such an issue as I'd thought.  For  most modules `format` etc would be fine.  I think the only one I'm aware off with a problem is the `weather_yahoo` around having the color defined by today's temperature but that could be fixed by just adding that feature to t

[2016-03-22 12:02] ultrabug commented on #209
Sounds reasonable indeed !

[2016-03-24 08:17] epaaj opened #221 "Time doesn't update unless using default format '%Y-%m-%d %H:%M:%S'"
I updated from py3status 2.6 to 2.9 recently and noticed that the displayed time doesn't update as usual. It seems the problem started with version 2.7 as I have the same problem with this version.

I've been displaying the time formatted as 'w%V %Y-%m-%d %H:%M:%S' to include the week number as well. But this seems to make the displayed time to update only once every minute (if using the computer)

[2016-03-24 10:00] tobes commented on #221
I can confirm this is an issue and was working in 2.6.

Looking at an exception happens here https://github.com/ultrabug/py3status/blob/master/py3status/i3status.py#L390

It looks like it worked 'by accident' previously.

[2016-03-24 12:05] tobes commented on #221
@ultrabug my thoughts on this are to simplify things.

Give i3status a fixed format so we can detect the delta and then use the user supplied format to create the displayed time/date - doing that should then work with any valid date formats including %Z

If you're happy with this idea I can knock out some code it should be fairly easy

[2016-03-24 14:23] ultrabug commented on #221
Well I love your enthusiasm @tobes since my experience with handling date formats from the C based i3status and python has always resulted in complex stuff (which inevitably lead to this issue)...

So by all means, if you can tackle something fairly easily, be my most welcomed guest ! :)

Thanks

[2016-03-24 15:05] pydsigner commented on #221
Why are we even doing this through i3status? We should just have a module for this.

[2016-03-24 15:43] tobes commented on #221
It's nice too keep compatibility for people switching from i3status.

But yeah a module works too.  I've made a lovely one but I'm wanting before offering it up, as I want to allow lists in the config first and that will take time to do nicely (multi-line lists)

[2016-03-25 00:31] tobes commented on #221
Hmm,

Never work with children, animals or datetimes...

I've had a play and this is my current patch.  It is based on my 'speedy' branch as that moved the i3status time code around. I'm hoping that will be merged at some point, if not this can easily be adapted.

It's not perfect but now deals with 'odd' formatting like %V (week no) %Z (timezone).  Things like %A (day name) are non-localized but

[2016-03-25 15:28] ultrabug opened #222 "Time modules in group does not update per second"
Grouped time modules should update per second when used in a group (as it is when they're not grouped)

PS: maybe we could save CPU when no second is requested in the format.

[code]

[2016-03-25 17:01] tobes commented on #222
This is because i3status modules didn't know about the groups they were in.

I have a fix for this based on the speedy branch.  It moves the group update trigger from `Module.run()` into `Core.notify_update()` so both py3/i3s modules trigger updates

[2016-03-25 17:04] tobes commented on #222
commit is here if you wanted to see it https://github.com/tobes/py3status/commit/e775ceda37f1f8152e6238ff66e0c10ad1f8c9ed

[2016-03-25 17:06] tobes commented on #222
I might add that in the #221 fix

[2016-03-27 13:41] maximbaz opened #227 "Module "xrandr_rotate" makes i3 unusable"
We have seen a case (see #217) when i3 becomes unusable after rotating screen using `xrandr_rotate` module. The symptoms are: `xrandr` process is stalled and only sending SIGCONT to it makes i3 usable again.

This issue is not reproducible for everyone. If you experience a similar behavior, please post here as many details as you can to help us investigate and fix this issue.

[2016-03-28 12:11] DasEarl opened #228 "Yahoo Weather plugin broken since OAuth change"
I don't know if someone mentioned this earlier but Yahoo changed to OAuth 1 now which breaks the current module.

https://developer.yahoo.com/weather/

[2016-03-28 15:13] tobes commented on #228
I've seen problems with this too. Oddly it seems to be intermittent and sometimes public access works.

It'll be a pain if every user has to register and get an API key but that looks like the only way.

Are there any alternatives?  I had a look but all the ones I found also need signing up too.

[2016-03-28 17:46] pydsigner commented on #228
I did not find anything not using OAuth or API keys either.

[2016-03-29 07:08] #221 closed

[2016-03-29 07:09] ultrabug commented on #222
merged, :heart:

[2016-03-29 07:09] #222 closed

[2016-03-29 07:47] ultrabug opened #229 "Wrong tztime guess when using local"
When using `tztime local`, the guessed time is UTC even if i3status outputs the right time.

i3status output : `{"name":"tztime","instance":"local","markup":"pango","full_text":"2016-03-29 09:42:50 CEST"}`

py3status output : `{"name":"tztime","instance":"local","markup":"pango","full_text":"2016-03-29 07:42:50 CEST"}`

Config :
[code]

[2016-03-29 13:29] #229 closed

[2016-03-29 13:38] tobes opened #232 "Documentation"
I was thinking about adding a bit of documentation.  I was going to start with module docstring guidelines.

Currently there is some info in the `README.md`, a  `doc` directory containing `py3status.html`, the `wiki`, and propossed `CONTRIBUTING.md` in #195

Personally my preference would be to have `*.md` files in `/doc` the reasons for this is

* Easy to update for existing contributers (no need

[2016-03-30 09:43] cornerman commented on #177
There seems to be some kind of regression on the current master. When I use this block in my config:
[code]
Then I get an error:

```ValueError: time data 'Y-m-d H:M:S' does not match format '%Y-%m-%d %H:%M:%S'```

[2016-03-30 09:50] cornerman commented on #177
I have bisected the last commits and found that ```e11ac996f529095c1b17925bfe87682c5989020f``` is the first bad commit.

[2016-03-30 10:44] tobes commented on #209
I'm closing this issue.

My thinking is should just contain simple text and then users can set the format with pango etc.

[2016-03-30 10:44] #209 closed

[2016-03-30 11:57] cornerman commented on #232
Good idea! I would definitely be in favor of having a ```doc/``` directory in the repo, so PRs can already contain proper documentation for new features. Also github does not give a nice interface for handling PRs on wikis.

[2016-03-31 19:43] UmBsublime opened #238 "Issue with spotify module"
I noticed an issue with spotify module where it would always think "Spotify is not running"

After a bit of debugging I noticed that these lines hang forever

[code]

L63 is the cause of the issue. After commenting those lines and hardocding "color = i3s_config['color_good'] the issue was resolved for me.

I also tested this call with d-feet and it stalled that program for about 30 secs and then r

[2016-03-31 20:28] UmBsublime commented on #238
I also noticed this when trying calling this property with qdbus

[code]

[2016-03-31 20:54] UmBsublime commented on #238
After inspecting the properties available we get this

[code]

Therefore we can clearly see that the PlaybackStatus property should exist, but here is what we get when we try to "Get" it

[code]

This most likely means the issue is with spotify not implementing this property properly

[2016-04-02 20:58] neutronst4r opened #241 ""killall -s USR1 py3status" does nothing"
I am trying to include the send signal into my script that lowers and raises the volume. I am using the module volume_status.py. The change in volume works but sending the signal does not refresh the statusbar.

example  command:
`pactl set-sink-volume $(pactl list short sinks|grep RUNNING|awk '{print $1}') -5%`
`killall -s USR1 py3status`

i3config:
`order += "volume_status"`
`volume_status {`
`

[2016-04-03 02:40] tobes commented on #241
I think the reason is because run() needs calling on the module for it to update.

See if changing here https://github.com/ultrabug/py3status/blob/master/py3status/core.py#L329 fixes things

[code]

change to

[code]

It's not the best place to fix the issue but should  show what's needed

[2016-04-04 06:39] ultrabug commented on #241
Thanks for reporting @neutronst4r

@tobes : wouldn't run() here be blocking py3status until all modules refreshed ?

[2016-04-04 09:54] #227 closed

[2016-04-04 10:00] tobes commented on #232
@ultrabug any thoughts on this yet?  I realise that sometimes things need to be pondered on for a while, so no rush.

[2016-04-04 10:08] tobes commented on #241
Good question.

I think we need a method that just sets a timer for the modules run().  I'll have a think of a nice solution and do some testing.

[2016-04-04 10:23] ultrabug commented on #232
I agree yes, what is the target layout of files in doc/ then ?

[2016-04-04 10:27] tobes commented on #232
Keep it simple

[code]

I think for now that would be fine if it gets too big we can look at it again

[2016-04-04 16:25] UmBsublime commented on #238
Looks like this is a bug on spotify client and they have no ETA for a fix

https://community.spotify.com/t5/Help-Desktop-Linux-Windows-Web/Linux-Spotify-DBus-MPRIS2-support-not-fully-working/m-p/1208249

[2016-04-05 06:46] ultrabug commented on #238
I'm very sorry I didn't answer faster, as discussed with you this is a long and known problem of spotify.

Are you running the spotify module from master or from an "old" version of py3status ? Because the problem has been worked around on PR #184 and #171 AFAIR so you might want to double check !

Cheers

[2016-04-05 06:46] #238 closed

[2016-04-06 08:10] ultrabug commented on #232
Wouldn't a single README.md (which is displayed by default) with sections in it be better and more accessible ?

[2016-04-06 08:44] tobes commented on #232
Personally I'd prefer them split, but a single one would be a start.

They can all be linked so they would be easily accessible (at least on github)

[2016-04-06 09:21] ultrabug commented on #232
Let's start with one please, who's up for it ?

[2016-04-06 09:28] #241 closed

[2016-04-06 09:28] tobes commented on #232
maybe we should split it into sections (on the single page) and get a few of us involved.

@Horgix maybe you want to move #195 (contributing) into this.

I'd be happy to do a creating modules with docstrings and formats (that migh take a while to get agreement)

what other sections do we need?

[2016-04-06 09:52] tobes opened #250 "class Meta - a cleaner future?"
I was having a think the last few days about py3status modules.

currently a module has update methods like this

[code]
but I've never seen any that use `output_list`, and `i3s_config` only seems to be used to get color states.
[code]
would be much nicer, but has two problems:

1) All the modules would need updating or would break including users custom modules

2) we now can't do `color_degraded

[2016-04-07 12:04] cornerman opened #253 "Asynchronous modules stop processing events on SIGSTOP"
When i3bar is hidden, the statusline generator gets a SIGSTOP signal. Thus, the asynchronous modules cannot process new events, which currently leads to https://github.com/i3/i3/issues/2280 in i3 - ultimately, this can freeze i3. Depending on how this is solved, it might be desirable to have the event processing in a different process, so it is not stopped. What do you think?

This is also mention

[2016-04-08 07:20] tobes commented on #253
Interesting stuff.  Do we have an easy way to reproduce this?

[2016-04-08 10:25] cornerman commented on #253
Yeah, it is rather easy to reproduce.

First, activate an async module in your i3status.conf:
```order += "window_title_async"```

Then, hide your bar, so py3status gets stopped:
```$ i3-msg bar mode hide```

Trigger the event a few times, i.e., switch window focus a few times (until i3 freezes).

[2016-04-08 10:43] tobes commented on #253
Hmm, this is an nice problem.  So really the modules need to run even when py3ststus is stopped.  But modules like `group.py` hook quite deeply into py3status.

Maybe we need to have py3status as a thin layer that just spawns the actual py3status and reads/writes data to/from i3bar etc.  Since we can't trap SIGSTOP and have to live.

[2016-04-08 10:52] cornerman commented on #253
Yeah, at least the asynchronous modules should not be stopped. A thin py3status main process, which forks of the actual worker and prints data sounds like a good idea. Another possibility would be to centralize the event processing into another process. But then this process would need to buffer incoming events when the receiving modules are stopped - not sure whether this would be a viable soluti

[2016-04-08 11:10] tobes commented on #253
Is this due to a recent change in i3, or just a long standing issue that hasn't been noticed before?

I think this will need some thinking through to get a nice fix, as every there are lots of possible options.

[2016-04-08 11:12] cornerman commented on #253
Afaik, this is a long standing issue; the IPC interface was designed to have well-behaving clients. I agree, we should definitely take the time to think about a good solution and also see, how i3 solves it.

[2016-04-08 15:04] tobes commented on #253
So my thought is

`py3status` - spawns new process (py3) write to i3bar and gets i3bar event messages

`py3` - reads config, starts modules including i3status ones, creates i3bar ready output.

We then use shared memory to communicate.

__py3__

writes
- `output` - unicode output in i3bar format
- `updated` - boolean set to true when output has been updated

reads
- `event_queue` - array of event

[2016-04-09 10:40] cornerman commented on #253
Generally, this sounds good. Though, I am not totally sure whether the whole logic of py3status should go into the py3 subprocess. Does it then still make sense to stop the i3status process when we get a SIGSTOP or should it keep on running because the i3status modules do? Also, wouldn't we do the whole processing to generate the i3bar output eventhough it does not get printed because the main pro

[2016-04-09 10:50] cornerman commented on #250
```response['color'] = 'bad'```

I really like your idea, but I am not in favor of encoding logic in a string. I think, such a magic conversion is difficult to read and it becomes harder to detect errors.

On another note, it would maybe make sense to add the possibility for a module to signal that it was updated. Think of an async module, which gets events and could tell py3status, that it just g

[2016-04-09 12:43] tobes commented on #250
this is already possible with the recent module changes (via class Meta) An example is here, as it was something I was playing with.
https://github.com/tobes/py3status/blob/window_title_async/py3status/modules/window_title_async.py

[2016-04-09 12:48] cornerman commented on #250
Ah, was not aware of this. Very nice!

[2016-04-09 12:49] tobes commented on #250
True,

would something like
[code]
make you any happier as a way to do this.  My view is that I'd rather our modules are stand alone (ie don't do from py3status import ...) but using `class Meta:` we can inject things into the module.  I'd also have one of the 'rules' being that no methods/vars in the Py3status modules could start with `py3_` as they would be reserved for such usages.

[2016-04-09 12:50] tobes commented on #250
Yeah, documentation is needed but I'd love to implement some of the ideas here before people start relying on this :)

[2016-04-09 12:57] cornerman commented on #250
Abstracting away the distinction between the global and local color configuration in a property is a good idea. Maybe makes sense to inject members into its own namespace like ```self.py3.COLOR_BAD``` instead of the ```py3_``` prefix?

[2016-04-09 12:59] tobes commented on #253
I think this is the simplest way to start with.

a) we would need to know that py3status has stopped.

b) some modules trigger other modules to update  eg group, so we would have to remember all that.  Also the output is only generated when a module has updated so we shouldn't be doing to much work.

I think that might be easier than trying to split things out.  The output function `Core.run()` tr

[2016-04-09 13:03] tobes commented on #250
This I like.

Currently `Module` has some helper functions like `helper_notify_user()` that I don't really like (a) the name of (b) where they live - from the point of view of the user.

This would help here eg `self.py3.notify_user()`

[2016-04-10 09:24] tobes commented on #253
I was looking at the i3bar protocol http://i3wm.org/docs/i3bar-protocol.html

So maybe we can just use a different signal and not do much more than not output to the bar when it's sent the 'stop'  that would be a lot cleaner me thinks.

[2016-04-10 11:43] MaxNoe opened #258 "battery_level is not shown"
The `battery_level` module does not work for me.

With this `.i3status.conf`
[code]

I get the error: `your 'order' array is empty`

[2016-04-10 14:12] tobes commented on #258
Thanks for reporting this.

There are a couple of issues:

first

[code]

`{status}` is not a valid placeholder see https://github.com/ultrabug/py3status/tree/master/py3status/modules#battery_level

    {icon} - a character representing the battery level, as defined by the 'blocks' and 'charging_character' parameters
    {percent} - the remaining battery percentage (previously '{}')
    {time_rema

[2016-04-10 15:00] MaxNoe commented on #258
Ok, i added an ethernet i3status, to get rid of  the empty array error and changed the `battery_level` config to just '{icon}'

There is still nothing shown for the battery. This is the json output of `py3status`.  My version is the latest version on PyPi.

[code]
[code]

[2016-04-10 15:22] tobes commented on #253
A rough cut using SIGUSR2 to stop

https://github.com/ultrabug/py3status/compare/master...tobes:i3bar-hidden?expand=1

It needs some polish but the basic theory works from my testing.

[2016-04-10 15:32] tobes commented on #258
Interesting,

That is some sort of python2 unicode issue.  If it was running under python3 you should get the actual icon.

So for now you need to either run it under python3, set `blocks` to some non-unicode chars, or just not use the `{icon}`

So that at least 2 new bugs you've uncovered.

[2016-04-10 15:34] MaxNoe commented on #258
it runs under python3, python 3.5.1 to be exact

[2016-04-10 16:17] MaxNoe commented on #258
The values is also empty when I just  use something like `format = "Hello World"`.

However, running the module manually with

[code]
works fine.

[2016-04-10 17:01] tobes commented on #258
the initial `full_text` is `""` but subsequent ones appear to work fine for me.

[code]

[code]

[2016-04-10 17:14] MaxNoe commented on #258
Mhh, I don't know what I did wrong. Works now.

[2016-04-10 17:14] #258 closed

[2016-04-10 17:17] MaxNoe commented on #258
Thanks for your help!

[2016-04-10 17:34] tobes opened #260 "battery_level module is not python2 friendly"
see issue #258

[code]

breaks in python2

[2016-04-10 17:35] tobes opened #261 "py3status dies if no i3status modules in order"
See issue #258 for details

py3status either needs to run with the `-s` option or have an i3status module

[2016-04-10 17:38] tobes commented on #260
this is aduplicate of #164

[2016-04-10 17:38] #260 closed

[2016-04-11 06:32] ultrabug commented on #258
Thx for the report and nice debug guys, I guess this module still needs some py2 care

[2016-04-11 06:47] ultrabug commented on #250
I'm having a hard time keeping up with your pace guys :)

I think the overall idea is very good, but I'm wondering why could we not have this Meta class available by default on new modules instead of having to declare it or why not use a class inheritance ?

I mean, something I'm really proud of is that quite a lot of modules are being contributed by users who never contributed on github before. T

[2016-04-11 08:39] tobes commented on #250
From my point of view I like the fact that py3modules are just self contained.  They don't import and py3status files they just declare themselves.

I agree that this is a bit magic especially that `self.py3` appears from nowhere, but it does allow some really neat stuff like the helper functions etc.

the `class Meta` is just a trick to allow the calls etc to change whilst keeping the existing lo

[2016-04-11 08:44] tobes commented on #250
Also I suppose there are 3 thing here

* New functionality via `self.py3` theoretically we could just inject it into all modules now

* New call signatures

* Ability to pass information about a module to Py3status before the module actually runs.

The current proposal here 'cheats' in some ways as it forces you to either have all or none.  It also keeps backwards compatibility.

[2016-04-11 11:09] tobes commented on #250
Another option that would achieve similar results would be.

Just accept that modules may use `update(i3s_output_list, i3s_config)` or `update()` and work that out for them using `inspect` or just `try: ... except:` so the user wouldn't have to care.

In many ways that would be nicer.

`class Meta:` would still have a use for some special situations (none that actually exist now) so it could be re

[2016-04-11 12:35] #261 closed

[2016-04-11 21:42] tobes commented on #253
@cornerman I've cleaned up my patch https://github.com/ultrabug/py3status/commit/a344685c77b78b4a9f5772a652787b567ae3224d It's much simpler than I initially made it.

Could you test if this fixes the issue for you.  In my testing It appears to work as intended

Really we should look at really 'sleeping' our modules but that can be a thing of the future.

[2016-04-12 09:20] cornerman commented on #253
Good idea, I was not aware of this possibility. But, hmm, this patch crashes py3status whenever the SIGCONT signal is received. Not sure, what is happening.

We should definitely be able to SIGSTOP the i3status modules when i3bar is hidden. Also, maybe makes sense to use ```threading.event``` instead of ```sleep``` until i3bar is running again?

[2016-04-12 09:31] tobes commented on #253
This is true but I want to start with the simplest patch we can.

If you do `killall  -s USR2 py3status` and `killall  -s CONT py3status` from the cli does this also fail?
For me this works fine when the patch is applied to the current master.

Do you have any info on the crash?

[2016-04-12 09:41] cornerman commented on #253
Interesting! It works as expected if I run py3status in the console and manually send the signals. But if I run it in i3bar and hide the bar, it dies as soon as the bar is shown again. The logs only say:

[code]

[2016-04-12 09:46] tobes commented on #253
Ahh,  I had this issue before.  I think it is a config thing I'll update the patch.

[2016-04-12 09:54] tobes commented on #253
is this any happier

https://github.com/tobes/py3status/commit/d1474a1cc8de567c1a1281fdc70b04cbfe6433dc

[2016-04-12 10:05] cornerman commented on #253
Sadly, not happier :/

It actually also happens when I launch rofi or when I close i3-nagbar, really not sure what is happening there. Any ideas for debugging?

[2016-04-12 10:11] tobes commented on #253
Does it work if you run py3status in standalone -s mode?

That at least narrows it down to the i3status loop

[2016-04-12 10:12] tobes commented on #253
There is something because before I had this issue but it went away,  I'm not sure if it is a particular module that triggers the issue.

[2016-04-12 10:17] cornerman commented on #253
Yes, this works as expected and does not crash.

[2016-04-12 10:25] tobes commented on #253
OK,  This is a good start.

So the problem is in `I3status.run()` so at least it is a small place to look.  So maybe you can find something.  If not I'll try to reproduce your breakage.  I'm not sure why we see the SIGUSR2 here. Is i3status somehow sending it?  I think it is a case of lots of logging.

If you just make the
[code]
stuff `continue` evil though that is does it work then?

Anyhow we a

[2016-04-12 10:44] cornerman commented on #253
Ah, the error code from i3status is negative, so the check in ```run``` needs to be:

[code]

[2016-04-12 10:48] ultrabug commented on #250
Oh yes, I'm perfectly relaxed :+1: thanks

[2016-04-12 10:49] tobes commented on #253
Weird

But we now have a working patch - even if needs more improvements.

My view would be to try to get the basic patch into py3status and then add improvements separately.  Do you agree or think a different approach is better?

Thanks for testing this

[2016-04-12 10:55] cornerman commented on #253
Yes :)

I agree, as of now, we can make i3 crash and therefore this should be fixed asap. Improvements can be done in a later stage. Thanks for fixing this!

[2016-04-12 10:56] tobes commented on #253
Do you want to make a PR for this?

[2016-04-12 11:01] #250 closed

[2016-04-12 11:11] cornerman commented on #253
You already have it there on your branch and it was your idea to begin with, so I think you should :)

[2016-04-13 10:24] ultrabug commented on #179
Hello,

This behaviour has been fixed thanks to the work of @tobes and @cornerman on PR #266 !

[2016-04-13 10:24] #179 closed

[2016-04-13 10:24] ultrabug commented on #253
Good job guys, and thank you !

[2016-04-13 10:24] #253 closed

[2016-04-13 11:19] AnwariasEu opened #271 "Spotify playback status fixed"
Hey,
In the latest Spotify release (version 1.0.27.71.g0a26e3b2) the playback status returns as expected.
My workaround #171 can be reverted.

[2016-04-13 20:05] pydsigner commented on #271
FYI, you can open an automatic PR to revert any PR.

[2016-04-14 07:12] ultrabug commented on #271
Thanks ! I updated the docstring to say so.

[2016-04-14 07:12] #271 closed

[2016-04-15 11:11] ultrabug commented on #174
fixed by #270 thanks to @tobes

[2016-04-15 11:11] #174 closed

[2016-04-15 11:11] ultrabug commented on #169
I'm wondering, seeing all the recent changes if you still experience this issue ?

[2016-04-15 13:03] ultrabug opened #280 "3.0 release"
So much as been done since 2.9 it's insane and impressive !

It's time to allow the other users to benefit from it so I'd like to call in a freeze of features and issue killing spree instead.

Let's list here the issues we want to be resolved for 3.0 and agree that the rest will come after ?

[2016-04-15 14:01] tobes commented on #280
From my point of view.

1) I still have one outstanding PR that I would really like to get into version 3.0 but it relies on #248 so therefore is not queued currently.  That PR would allow us to have much richer config files.
I know that you want to close the door on 3.0 but I feel that this PR would actually hugely benefit the 3.0 release and without it I feel it would be crippled.  Basically it

[2016-04-15 14:32] tobes commented on #280
One other important thing in my mind is around `Py3` currently modules can use this to get 'legally' right inside of py3status.  I'd like to close the door on that, which would be a very minor PR and I'd consider it a bug fix.

[2016-04-15 15:01] pydsigner commented on #280
@tobes I don't think that's a real issue. Considering that a malicious module could just `import os; os.system("rm -rf ~/")`, weird py3status hackery seems like a minimal issue, and closing this down could potentially prevent some useful user-written modules.

[2016-04-15 15:03] pydsigner commented on #280
@tobes Other than that, better config parsing is something that I would personally be willing to hold the 3.0 release for.

[2016-04-15 15:07] tobes commented on #280
You see I believe this.

`self.py3.get_module_info()['module']` gets me the module and then I can crawl around and should be supported.  If I do `self.py3._module` it gives me the same but I know that what I do is not supported in any way.

That's all I mean just stopping user expectation.

Also `self.py3.get_latest(module_name)` is just nicer then `self.py3.get_module_info(module_name)['module'].

[2016-04-15 15:14] pydsigner commented on #169
I do still have the problem on 0ac4315.

[2016-04-15 15:17] #177 closed

[2016-04-16 14:05] tobes commented on #280
So I have been thinking.

For 3.0 I would like either.

* `group` module to be removed from the release.

* PR #275 Composites to be merged.

All my other PRs can sit in limbo (but always nice if merged)

My reasoning is this.  The group module as it is in master is broken.  We interfere with other modules click events.  To solve that we need #275, which makes the group module really nice imho.

T

[2016-04-19 10:34] tobes commented on #228
The best I've found is a 3 day forecast on the bbc getting the 'code' is a bit of a pain I'm assumming there is no geo locking

eg http://open.live.bbc.co.uk/weather/feeds/en/524901/3dayforecast.rss

doesn't help with weather yahoo but here for info

[2016-04-19 20:41] pydsigner opened #285 "Module Proliferation"
Py3status is accumulating quite an impressive collection of modules, which is great — we have a vibrant community around this project. However, I'm beginning to wonder if we should identify a more limited group of core modules and split others off into a pystatus-modules-extra package or something similar.

[2016-04-19 22:52] tobes commented on #285
Would you keep them in tree (as in part of this repo) and package separately on pypi?  Or are you suggesting more of a split than that?

We also have some duplicates like `window_title` and `window_title_async`.

[2016-04-20 15:25] pydsigner commented on #285
@tobes I think it'd probably make the most sense for them to be separate repos.

[2016-04-20 17:13] MobileAZN commented on #228
The API changed again yesterday.

https://developer.yahoo.com/weather/

[2016-04-22 10:05] cornerman commented on #285
@tobes there are some duplicate modules (scratchpad and window_title), because they use different ipc libraries (https://github.com/acrisci/i3ipc-python and https://github.com/ziberna/i3-py). The latter seems to be unmainted and does not support all event types (also see https://github.com/ultrabug/py3status/pull/135). Might be a good idea to deprecate the old ones?

[2016-04-23 05:40] OfficerHalf opened #286 "no module named 'py3status.modules.fedora_updates'"
Not sure if this is a Fedora package issue or a py3status issue. With v2.9 (from F23 updates-testing, actually packaged for python3 now), trying to add the fedora_updates module fails, and the nagbar gives the error in the title.

I'm submitting here first - it seems somewhat unlikely that the Fedora package would be missing the only Fedora specific module, but stranger things have happened. If it

[2016-04-23 09:37] jakubjedelsky commented on #286
Hi,

fedora maintainer here, thanks for submitting the issue. I didn't test the
module. I'll check it tomorrow (haven't my laptop today) and send some
update here.

so 23. 4. 2016 v 7:40 odesílatel Nathan <notifications@github.com> napsal:

[2016-04-23 10:02] tobes commented on #286
@OfficerHalf fedora_updates was only added recently and will be available in the next release.

[2016-04-24 04:03] tobes commented on #285
I think this can make it hard to keep everything in sync as the user may use old py3status with new modules etc.  Having them updated at the same time is helpful for allowing us to change stuff.  Yes we should have a stable api but if we rely on new features eg py3 learns new tricks, it could bite us.

I agree but breaking things for users is nasty. Maybe we can notify them that they should switch

[2016-04-24 05:02] pydsigner commented on #285
@tobes I think mainly the issue would be with packaging, as anyone going straight to git should be able to keep them in sync, while packages have means to ensure correct versioning. Perhaps though this is not as easy on Arch?

[2016-04-24 21:08] jakubjedelsky commented on #286
fair enough.

@OfficerHalf I like that module, I'll add it to new build of package

[2016-04-24 22:22] tobes commented on #285
@pydsigner I'd like to think that keeping things in sync is easy, but bitter experience tells me even git sub-modules are very hard.

I think keeping the vibrant community is about low barriers to entry.  I'd be happy with a core (true and tested) lot of modules and a more experimental (here are some more) but that creates a whole bunch of issues. How do we decide on which is which?  What if we wa

[2016-04-25 21:54] macxcool opened #289 "Time and Tztime produce Date twice"
Whenever I add 'time' or 'tztime' to my config, the i3bar shows my format + another instance of 'YYYY MM DD' after it. I'm not sure if this is a problem with py3status or something I'm missing.

[2016-04-25 22:04] tobes commented on #289
hmm, what version of py3status are you using?  `py3status -v`, or are you running from master?

Could you also provide a minimal `i3status.config` that creates the issue

[2016-04-25 22:07] tobes opened #290 "py3status -v on master shows previous version"
It is useful to know the version of py3status that a user is running.  If the user is running master via git it reports the previous release.  It would be nice if it reported a version that we knew was a pre-release etc.

So setting version to something like `x.y-rc`

[2016-04-26 11:23] macxcool commented on #289
Yes;

# i3status configuration file.
# see "man i3status" for documentation.

# It is important that this file is edited as UTF-8.
# The following line should contain a sharp s:
# ß
# If the above line is not correctly displayed, fix your editor first!

general {
        colors = true
        interval = 5
        output_format = "i3bar"
}

order += "tztime local"
#order += "time"

tztime local {

[2016-04-26 11:23] macxcool commented on #289
py3status 2.9
python 3.5.1
I'm running Archlinux 64-bit with everything up-to-date.

[2016-04-26 12:15] tobes commented on #289
Confirmed as an issue in version 2.9

The problem is `%e` if you use `%d` it will work although it will be zero padded.

This is actually fixed (from what I can tell, but today is the 26th) in master so in the 3.0 release due soon, this will be working as expected.

Thanks for reporting this.

[2016-04-26 12:26] macxcool commented on #289
No prob. I'll try the master branch tonight. I just hate all that wasted
space ;-)

On Tue, Apr 26, 2016 at 8:15 AM, tobes <notifications@github.com> wrote:

--
 _  _           _     ___         _
 )\/,) ___  __  )L,   ))  __  __  )) __ _ _
((`(( ((_( (|  ((\   ((__((_)((_)(( (('((\(

[2016-04-26 19:25] macxcool commented on #289
Tested with current git extract. Problem goes away. Excellent!

[2016-05-08 16:11] #290 closed

[2016-05-08 16:11] ultrabug commented on #290
Absolutely true, I'll make it a habit I promise. Thanks

[2016-05-09 12:00] tobes opened #293 "Event propagation"
@ultrabug following the merge of #275 you added

Also, the more I think of it the more I'm inclined to just honour per module on_click and not on the main group module.

This would be OK:
[code]
This would not:
[code]

I have read this as if a module captures a click event using `on_click X` then we would not pass the event on to the container.  However if we did not use the click then we would pa

[2016-05-09 12:59] ultrabug commented on #293
To maybe be more clear : the only case where i3status.conf on_click is valid is on a module, not a container.

Yes, i3status.conf on_click adds up to any module on_click() function. Both will be executed.

Too complex imho, let's keep it simple please.

How does that sound ?

[2016-05-09 13:09] ultrabug commented on #293
Also @tobes : I'd like to get in touch with you besides those comments ;) are you on IRC ? what would you prefer ?

[2016-05-09 13:21] tobes commented on #293
This would be easy to achieve I'll knock up a patch

fair enough

[2016-05-09 15:44] ultrabug commented on #293
Thanks a lot !

[2016-05-09 15:44] #293 closed

[2016-05-09 16:25] #228 closed

[2016-05-09 16:26] ultrabug commented on #228
Thanks @MobileAZN ! This is now working again.

Note: you have to switch your config to use the `woeid` setting from now on.

[2016-05-09 16:34] ultrabug commented on #280
I guess the recent events and merges are worth an update of the TODO here right ?

[2016-05-11 16:34] #232 closed

[2016-05-17 15:56] ultrabug commented on #204
fixed by @tobes on #297 thanks !

[2016-05-17 15:56] #204 closed

[2016-05-18 00:29] pigmonkey opened #302 "Crash on screenlock"
Using the latest git version, py3status seems to be unable to recover from a screen lock. The bar runs fine, but if I lock my screen with i3lock and then unlock, the bar is replaced by the i3 error `Error: status_command process exited unexpectedly (exit 1)`. Oddly I can still see the py3status process running via `ps`.

This does not happen in 2.9.

[2016-05-18 03:08] pydsigner commented on #302
I've had this exact same issue on master for a while now.

[2016-05-18 07:14] ultrabug commented on #302
I lock my screen omgwhat times a day and didn't encounter this problem... BUT I get the same problem on session login !

I will investigate this further, this is a blocker on the release clearly.

Thanks

[2016-05-18 10:14] tobes commented on #302
:( I can't reproduce this via i3lock or by starting a session.  My though is it could be related to #253 as signaling is probably involved here.

could someone see if the following commits are good/bad
[code]

[code]

for what it's worth:
I'm on fedora 23, i3 v4.12, i3lock v2.7

[2016-05-18 11:10] ultrabug commented on #286
Closing, hopefully 3.0 will be released soon :)

[2016-05-18 11:10] #286 closed

[2016-05-18 11:11] ultrabug commented on #289
Good news, closing thanks !

[2016-05-18 11:11] #289 closed

[2016-05-18 15:58] ultrabug commented on #302
For my crash, I think it's due to the xrandr module command returning badly on login :
[code]

My bar is then not updated and a few seconds later I get the status_command error displayed.

[2016-05-18 19:01] tobes commented on #302
Thanks I think I'll be able to trigger it now. Shouldn't be too hard to fix.

[2016-05-19 07:03] tobes commented on #302
@pigmonkey @pydsigner can you see if this is now fixed for you in master

[2016-05-19 16:31] pigmonkey commented on #302
Negative. Same error after screenlock.

[2016-05-19 16:47] pydsigner commented on #302
Not working here either.

[2016-05-19 17:07] pydsigner commented on #302
Interestingly, turning `--debug` on fixed the issue and turning it off brought it back.

[2016-05-19 17:08] pydsigner commented on #302
So here's all the error I can gather with debug off:
[code]

[2016-05-19 17:29] tobes commented on #302
odd the only code I can see that really does anything is
[code]
but that should in theory help the issue.

if you run it with `--standalone` does that fix things?  At least that would help narrow things down.

[2016-05-19 17:30] tobes commented on #302
@pigmonkey does running with `--debug` fix things for you?

[2016-05-19 17:46] tobes commented on #302
@pydsigner

This looks like what is killing things https://github.com/ultrabug/py3status/blob/master/py3status/core.py#L579

If the main loop in `run()` dies then we trigger the error, but why are we dying?  It'd be interesting to know what happens if we just comment out the `break` has i3status actually died or is the thread just stalled for some reason?

[2016-05-19 17:47] pydsigner commented on #302
Hmm that could be possible, also I went away from my PC for ten minutes with it on --debug and it crashed again when logging in.

[2016-05-20 13:34] tobes commented on #302
@pigmonkey @pydsigner another attempt to fix this now in master

[2016-05-23 21:46] pydsigner commented on #302
Current master seems to be working better now. The first fix attempt just left me with cascading I3Status failure nagbars.

[2016-05-23 22:33] pydsigner commented on #302
Hmm nope, happened again.

[2016-05-23 22:36] tobes commented on #302
@pydsigner hmm, what i3status modules do you use?  Also the patch just keeps it alive 10 times then lets it die

[2016-05-24 07:08] ultrabug commented on #302
Yeah since it's quite a blocker, it would be great to get deeper in the debug if possible. Like, running i3status alone instead of py3status using the /tmp/pystatus_ config generated (or share it with us if possible?)

[2016-05-26 19:30] OfficerHalf opened #322 "Default Color"
The config (and i3status) allows for three colors: color_good, color_bad, color_degraded. However, some default modules (TzTime and Disk, for example) have a _fourth_ color (white, by default).

You can set that color not in i3status.conf, but [in the main i3 config file](http://unix.stackexchange.com/questions/131778/how-do-you-change-the-color-for-all-the-items-in-the-status-bar-in-the-i3-wm) wi

[2016-05-26 20:58] ChoiZ commented on #98
I'll update clementine in few days ;-)

[2016-05-27 09:15] tobes commented on #322
https://github.com/ultrabug/py3status/pull/279 adds color as an option to all modues

[2016-05-27 13:12] OfficerHalf commented on #322
Aha, so just passing 'color' is the default?

[2016-05-31 11:08] tobes commented on #302
@pydsigner @pigmonkey any more info you can share with us on this

[2016-05-31 20:47] pydsigner commented on #302
[tmp_i3status.txt](https://github.com/ultrabug/py3status/files/292136/tmp_i3status.txt)

[2016-05-31 21:31] pigmonkey commented on #302
Sorry for the delay.

Using the latest master, I no longer experience the crash when my status command is ` ~/.virtualenvs/py3status/bin/py3status` (I'm keeping the git version in a virtualenv). I tried locking and unlocking my screen 12 times in a row and it worked fine.

I only switched to py3status a few weeks ago. I'm still using [wnot](https://bitbucket.org/pzi/wnot/) for weechat notification

[2016-05-31 23:19] tobes commented on #302
This makes sense. PR  #266 changed things so that i3bar should send us a `SIGUSR2` rather than a `SIGSTOP` so that we could 'suspend' py3status.  I suspect that wnot_cli cannot process this and so dies causing the error you see.

As I don't have `wnot_cli` could you confirm that running with the good py3status 2.9 wnot_cli setup and then running `killall -s SIGUSR2 wnot_cli` causes the crash.

Fro

[2016-06-01 08:46] ultrabug commented on #302
I still think that there's something wrong with this SIGUSR2 signaling. I finally debugged my xrandr problems to be linked with this too.

The xrandr module is mostly broken by SIGURS2, returning error -12 on some changes (so I have to click twice to switch output) then I see in the logs that i3status dies so I think the two are linked.

If I comment this in the core, all those problems go away
[c

[2016-06-01 11:17] tobes commented on #302
hmmm, it does seem to be causing us problems.

Maybe it needs a rethink and we should look at fixes for the modules rather than py3status.  Moving from using threading to multiprocessing for them might be a way forward and might keep them alive when we get the SIGSTOP.

[2016-06-01 14:25] tobes commented on #302
@pigmonkey py3status (master) has switched to using `SIGTSTP` rather than `SIGUSR2` could you see if this fixes things with your 'bad' config.  Hopefully `SIGTSTP` is better supported.

Once again thanks for your help in this issue

[2016-06-01 17:35] pigmonkey commented on #302
This does result in the crash.

With the good py3status 2.9 and wnot setup, running `killall -s SIGTSTP wnot_cli` does not result in a crash.

With the latest master and a status command of `~/.virtualenvs/py3status/bin/py3status | wnot_cli --i3status`, it does crash after unlocking the screen. This time I get the error `Error: status_command process exited unexpectedly (exit 1)`. Originally it wa

[2016-06-02 14:13] tobes commented on #302
@pigmonkey

Another option might be to have something like the following as a final pipe.  It just pipes everything through but handles the signals.

So `py3status | wnot_cli --i3status | python pipe.py`

you might need to send signals to wnot_cli too

[code]

[2016-06-03 23:07] RomanSC opened #325 "No manual entry"
Now that I've got everything configured I'm loving py3status, one issue though is that there's no manual entry, instead you're lost if you don't use "py3status modules details"

Though I don't have experience with it, I'd be interested in writing the man page if you would like

Thanks for the awesome app! My status_command is perfect now!

Edit for additional information: I installed on Arch Linux

[2016-06-06 10:34] ultrabug commented on #325
First of all I'm glad you enjoy py3status :)

TBH I have no experience in writing man pages but I think it would be a great idea to have one !

Maybe this could be generated the same way we generate the modules/README file ?

[2016-06-13 16:27] ultrabug commented on #280
Okay, with the recent documentation updates we should be very close to a release, I'll start generating and summing up the insane CHANGELOG

[2016-06-14 16:20] ben-e-whitney opened #332 "Separator in Pomodoro Module"
The `pomodoro` module uses a hyphen as a separator between the minutes and seconds left in a timer. The documentation contradicts itself, saying in one place that a hyphen is used and in another that a colon is used. I think a colon makes more sense here. Should I submit a PR changing the default behavior, or maybe instead add a parameter allowing the user to choose the separator?

[2016-06-14 16:52] tobes commented on #332
https://github.com/ultrabug/py3status/pull/330 adds a `format_separator` and is just merged.

The documentation could probably do with a tweak

[2016-06-14 16:57] pydsigner commented on #332
I think that the default should change here, if anyone actually prefers the old behavior, which I think unlikely, they are now able to get it back. It's even possible that the original hyphen was a typo IMO.

[2016-06-14 17:11] tobes commented on #332
Looks like the default was a `-` a `:` might be nicer but the user can set this now.  I'm not too fussed.

[2016-06-15 18:04] egeskow commented on #332
I believe it should be ":" by default.
There is [ISO 8061](https://en.wikipedia.org/wiki/ISO_8601) standard to time formats
Which [says](https://www.w3.org/TR/NOTE-datetime):

[code]
We can see "-" separator between year-month-date and ":" between others.

Also there is already [xkcd comics](https://xkcd.com/1179/)

[2016-06-16 09:45] ultrabug commented on #332
Fixed thanks to @egeskow !

[2016-06-16 09:45] #332 closed

[2016-06-24 21:51] NickVst opened #346 "external_script: Trailing spaces are stripped from output"
When echoing out values with trailing spaces into the external_script module, trailing spaces are stripped from the output aswell.

### Example

Given the simple script, underscores representing spaces:
 `echo "_ _ _Hello,_spaces!_ _ _" `
 the module outputs this to the bar:
`_ _ _Hello,_spaces!`

The trailing spaces are not passed to the bar because of the code inside the external_script module.

[2016-06-26 17:38] ultrabug commented on #280
It's live :yellow_heart:

[2016-06-26 17:38] #280 closed

[2016-06-26 18:03] ultrabug commented on #346
Thanks for this report @NickVst ! please check the referenced commit here on issue346 branch, would that work for you ?

Cheers

[2016-06-26 19:10] NickVst commented on #346
@ultrabug This definitely did the trick; spaces are showing up as they are supposed to do. Thanks!

[2016-06-26 19:11] #346 closed

[2016-06-27 07:12] ultrabug commented on #302
@pigmonkey do you think we can close this issue mate ?

[2016-06-27 07:18] ultrabug commented on #285
I realise I never discussed this topic and I'm sorry about that.

My point of view for now is to remain as it is:
- I like the low entry barrier and the fact that a lot of contributed modules come from first timers to PR (I treasure it tbh) and I'm ready to accept different modules' maturity in the code base to preserve that
- As a packager, I would dislike having to keep two separate packages for

[2016-06-27 07:20] ultrabug commented on #169
please report on v3.0 ?

[2016-06-27 09:03] ddurieux opened #348 "use psutil lib to get CPU, memory..."
For sysdata, perhaps we can replace linux specific code (/proc/...) by the use of psutil. Like this, other systems can use this module (*BSD...).

I can code it but I want to know if you are agree with that ;)

[2016-06-27 09:11] tobes commented on #348
My take would be if you want to allow `psutil` that'd be fine but it should not be a hard requirement.  I would not want to install it just for some functionality that already exists.

[2016-06-27 09:40] ddurieux commented on #348
Ok, I can use actual code if have /proc else use psutil (so users need install it manually). Is it ok with that ?

[2016-06-27 09:42] tobes commented on #348
To me that makes sense as you would be extending the module for situations where /proc is unavailable but keeping the existing functionality for users where it already works

[2016-06-28 03:32] pydsigner commented on #285
@ultrabug That's fine.

[2016-06-28 03:33] #285 closed

[2016-06-28 13:03] Q3CPMA opened #355 "Duplicate modules in conf file"
Hello, I have
[code]
in my .i3status.conf and everything works, except the colours. Basically, both sysdatas have the same colour at any moment, even if only one reaches a threshold. I'm doing something wrong, right?

[2016-06-28 13:09] tobes commented on #355
It looks like the logic here is a bit broken.

It does do what the documentation states but that is not what the user expects.  I'll see how easy the fix is.

[2016-06-28 13:43] ultrabug commented on #355
please @Q3CPMA could you check with the code from #356 ? Thanks @tobes !

[2016-07-01 23:25] chezstov opened #358 "Proposal: highlighting items on mouse over"
Is it possible to change module color if I mouse over it?

If u like this idea, i can write code to realize it.

[2016-07-01 23:30] tobes commented on #358
Currently this is not possible.  The only events that are processed are click events.

If you have a magic way to do this I'd love to see how you manage it.

[2016-07-02 00:05] chezstov commented on #358
Oh, i read about i3bar protocol and now i see that its have only click events.

I think I need to contact the i3wm developers and to implement other event types.

[2016-07-02 16:31] ultrabug commented on #358
Yep sorry @chezstov but py3status is dependent on the i3bar protocol features and this one is not supported yet.

[2016-07-02 16:31] #358 closed

[2016-07-11 13:50] piquev opened #362 "List index ot f range with module tztime"
since the v3, I have an error when i add the module tztime

"py3status: list index out of range please try to fix this and reload i3wm"

[code]

thx for any help

[2016-07-11 14:08] tobes commented on #362
Hi,

Is that your entire config?  For me using 3.0/master this works as expected.  Do you still have the issue if you run with that as the full config?

[2016-07-11 14:13] piquev commented on #362
it's not my full config file,
but when i comment every thing except this i have this error ...

there is my full config file

[code]

[2016-07-11 14:23] tobes commented on #362
I can't replicate this here.  Is there anything in the logs?

running something like ` py3status -c ~/.i3/test.conf -l /tmp/py3status.log` should hopefully give some info.

[2016-07-11 14:34] piquev commented on #362
[code]

The strange things is that my i3status bar work but i don t have the battery,disk modules
(i don't get the error with the file, since he exist and got user rights)

[2016-07-11 14:44] tobes commented on #362
This is because i3status has crashed.

There should be a config for it in `/tmp/py3status_017dv8` or a similarly named file.  Could you paste that here.

[2016-07-11 14:57] piquev commented on #362
nop i don t have this file, looks like he is generated with my i3status.conf and removed just after

[2016-07-11 15:00] tobes commented on #362
there should be a `/tmp/py3status_xxx` when py3status is running

[2016-07-11 15:39] piquev commented on #362
no, i really don t have this file, and i have no idea why : / every time i launch the command, there is no files created in /tmp

[2016-07-11 17:17] tobes commented on #362
Do these modules show when you don't include `tztime local`?

[2016-07-11 20:05] pydsigner commented on #362
What happens if you change this to `tztime local {` (adding a space between `local` and the open brace)?

[2016-07-12 08:19] tobes commented on #362
If you save this as `test.conf` and then run `i3status -c test.conf` what is the output?
[code]

What version of i3status do you have?
`i3status -v`  and which distro are you using?

[2016-07-12 08:35] piquev commented on #362
Output

[code]

Version

`i3status 2.7 (2013-02-27) © 2008-2012 Michael Stapelberg and contributors`

I'm using gentoo 4.4.6

[2016-07-12 08:37] tobes commented on #362
__i3status__ -c test.conf

[2016-07-12 08:40] piquev commented on #362
oups sry, i commanted netdata because it was outputting an error

[code]

[2016-07-12 08:43] tobes commented on #362
saying that you have this in your py3status output so you should be seeing the time
`{"instance": "local", "name": "tztime", "full_text": "2016-07-12 10:31:11"}`

can you confirm that in your test config the part for tztime is as follows
[code]
especially the __%Z__

[2016-07-12 09:00] piquev commented on #362
Nop i had not the %Z just added it still got the same error and the %Z value returned is empty

[code]

[2016-07-12 09:04] tobes commented on #362
I'm interested in the i3status output not the py3status with that config

[2016-07-12 09:06] piquev commented on #362
empty too

`{"version":1}
[
[{"name":"disk_info","instance":"/","full_text":" Disk: 436.1 GB "},{"name":"battery","instance":"/sys/class/power_supply/BAT0/uevent","full_text":"FULL 100.00% 00:00:00 "},{"name":"tztime","full_text":"2016-07-12 11:06:00 "}]
,[{"name":"disk_info","instance":"/","full_text":" Disk: 436.1 GB "},{"name":"battery","instance":"/sys/class/power_supply/BAT0/uevent","full_tex

[2016-07-12 09:26] tobes commented on #362
OK,

So the problem is that `%Z` is not being interpreted by i3status.  This then cause `I3statusModule.set_time_zone()` to fail.  This then stops other i3StatusModules from doing an update (although the tztime does update).

So this probably needs a fix for when this happens.  I'm not sure why %Z is not supported is it available in `man strftime`?

The other option is that it is something to do w

[2016-07-12 09:40] piquev commented on #362
Yeah it was that thx for your help
my Timezone wasn t set : /
Sry to have lose your time

Everything is working now

[2016-07-12 09:40] #362 closed

[2016-07-13 06:53] ultrabug commented on #355
ping, are we good here now ?

[2016-07-13 09:30] Q3CPMA commented on #355
Nah. Retested with a git clone and two yes in parallel `..."},{"name": "sysdata", "full_text": "RAM: 0.51 / 15.57", "cached_until": 1468402349.8992772, "instance": "ram", "color": "#FF0000"},{"name": "sysdata", "full_text": "CPU: 75.32", "cached_until": 1468402349.9012043, "instance": "cpu", "color": "#FF0000"}...`

[2016-07-13 09:48] c0m3tx opened #367 "FileNotFoundError upon i3wm restart"
Whenever I restart i3wm, I get

```py3status: (FileNotFoundError) i3status.py line 587. Please try to fix this and reload i3wm```

this message in the top part of the screen. However, py3status seems to work fine.

I would like to debug it but I must admit I have absolutely no idea where to start from, but if you need any more informations just ask me and I'll do my best to help.

Arch linux x64,

[2016-07-13 21:38] tobes commented on #367
do you get this using a minimal config?

[code]

If so what filesystem are you using for tmp?

[2016-07-14 07:36] c0m3tx commented on #367
It happens even with the minimal config you suggested.

My `tmp` folder is on tmpfs
```none			/tmp		tmpfs		nodev,nosuid,noatime,size=1500M,mode=1777	0 0```

Can that be an issue?

[2016-07-14 13:10] tobes commented on #367
I'm not sure, but something made me think that the filesystem might be involved.  It may well be a red herring.

When py3status is running do the i3status modules work eg `time`?

[2016-07-14 13:16] c0m3tx commented on #367
Yes, all modules work fine. The error appears upon i3 restarting, which kills and restarts py3status, and also if I manually start py3status and then try to stop it via CTRL+C.

[2016-07-15 08:26] tobes commented on #367
Since it's harmless. Maybe we should just catch the exception silently.

I'd still like to understand what exactly is going on.  I've looked online but can't find anything relevant :(

[2016-07-18 13:17] RouxAntoine commented on #367
Hello i have the same problems with archlinux package but it seem not appear with pip installed version.

[2016-07-18 13:32] RouxAntoine commented on #367
problem solve for me line 589 in file i3status.py replace :
except Exception:
            err = sys.exc_info()[1]
            self.error = err
            self.py3_wrapper.log(err, 'error')
        self.i3status_pipe = None

by :

except Exception:
       self.py3_wrapper.report_exception('', notify_user=True)
       self.i3status_pipe = None

[2016-07-18 13:48] tobes commented on #367
This just suppresses the error but we want other ones to be reported.

Does something like this work?  Yes it looks horrible.

[code]

[2016-07-18 13:49] tobes commented on #367
@RouxAntoine what filesystem is your /tmp ?

[2016-07-18 17:12] RouxAntoine commented on #367
My file system is ext4

[2016-07-18 20:19] c0m3tx commented on #367
@RouxAntoine seems like the missing file is a copy of the configuration file which is created upon startup. It crashes on exit, and while I'm unable to understand what's going on, it looks like it is trying to unlink the file twice or maybe it's trying to write on the file after closing it. I'll try proposed solutions asap. Thank you all

[2016-07-18 21:14] RouxAntoine commented on #367
thanks you to

[2016-07-18 23:23] tobes commented on #367
Nopes, for me it's good.  I also did the commit that hit you (to improve our logging of errors).  I really don't understand the reason., we are using `tempfile` and it is within a `with` so python should behave.

We can always stop it notifying the user and just log the exception, but I want to understand the issue first.

[2016-07-19 09:01] RouxAntoine commented on #367
For my part i try to load "static_string" module but due to the tempfile error the module isn't load correctly. The format and color specify into config file is skip.

[2016-07-19 15:24] ultrabug opened #369 "py3status does not respect commented out modules"
maybe this applies to group modules only, don't have time to debug but just saw it so I wanted to share so not to forget
[code]

and on the logs I see the modules listed on those groups loaded and executed (I get their notifications!)

[2016-07-20 13:09] tobes commented on #369
I haven't been able to reproduce this yet but I'll try.

[2016-07-20 13:49] ultrabug commented on #367
I found out the issue to be on a redundant cleanup of the py3status tmpfile for i3status. Since we're using a context manager we don't have to try and delete the file when reloading/exiting !

[2016-07-20 13:50] #367 closed

[2016-07-21 09:16] tobes commented on #369
OK,

I understand the issue better now.  I thought you were saying that the group modules were appearing in the logs, rather than the contained modules appearing.

Yes this is buggy.  The real solution IMHO is to switch to the config parser in #282 as that fixes the issue as well as all the extra niceness,  I've merged master into the branch so it is up-to-date with the latest changes.  We could f

[2016-07-24 14:03] noisypixy opened #370 "Crash on full screen"
Whenever I make a window full-screen, `py3status` crashes.

[code]

I'm using `py3status` directly from the `master` branch of this repository; did a `git pull` just before creating this issue, and it was up to date.

[2016-07-24 14:14] noisypixy commented on #370
This fixed it for me:

[code]

[2016-07-24 14:50] ultrabug commented on #370
Thanks a lot for reporting this and for this proposed fix @noisypixy !

I'm very surprised a full screen of a window can affect i3status (and then py3status), would you mind telling me if you're using `hide` mode on your bar ?

[2016-07-24 14:53] ultrabug commented on #369
Ok, I'll review #282 in priority then, thanks a lot @tobes !

[2016-07-24 15:50] noisypixy commented on #370
Nope, I'm using the "default" settings; I only changed the `status_command` (I started using i3wm yesterday, so I'm still learning).

[code]

... where `~/.i3/scripts/py3status.sh` contains:

[code]

`$HOME/.i3/external/py3status` is this repository, and I run `python3 setup.py build` to generate the `build` directory.

`~/.i3/i3status.conf` contains:

[code]

... and `~/.i3/py3status/clock.py` (t

[2016-07-25 08:51] tobes commented on #370
Ok, the reason this is happening is because `i3status_pipe` was being initialised in the wrong place.  I've added PR #371 which fixes this.

@noisypixy thanks for the excellent bug report which made finding the fix really easy.

[2016-07-25 09:40] ultrabug commented on #370
Thanks @tobes

@noisypixy can you confirm this works for you now ?

[2016-07-25 09:51] noisypixy commented on #370
Yup, seems to be working fine now.

Thanks ^^

[2016-07-25 09:52] ultrabug commented on #370
Great, thanks guys !

[2016-07-25 09:52] #370 closed

[2016-07-26 11:47] ultrabug commented on #369
FYI tested with your config-parser branch and I get the same result mate

[2016-07-26 11:56] tobes commented on #369
odd with config-parser branch I see

[code]

with master

[code]

So `exchange_rate` and `weather_yahoo` are loaded on master but not config parser when I comment out the group they are in.

can you get a simple test config that causes the issue?  It seems like we have more than one reason for them getting started

[2016-07-27 07:11] ultrabug commented on #369
Sure

[code]

gives me on your branch
[code]

[2016-07-27 08:35] tobes commented on #369
Strange.  I have quite different results.  Also I have to comment out the `markup = "pango"` line for i3status to be happy (on either branch).

For reference

[code]
from my i3 config
[code]

master gives me
[code]
You don't seem to be getting the traceback.

config-parser
[code]

[2016-07-27 08:56] ultrabug commented on #369
I get this

[code]

[2016-07-27 15:33] aDrz opened #373 "UnboundLocalError: local variable 'py3' referenced before assignment"
Hello!

After a upgrade of debian, py3status seems to be slightly unhappy. I tried to reinstall it, however I still have this error when I try to launch it:

`dude@dudladly:~$ py3status
Traceback (most recent call last):
  File "/usr/bin/py3status", line 9, in <module>
    load_entry_point('py3status==3.0', 'console_scripts', 'py3status')()
  File "/usr/lib/python2.7/dist-packages/py3status/__init

[2016-07-27 15:41] tobes commented on #373
Thanks for reporting this.

Unfortunately this error is not the actual cause of the problem.

do you have a locale set?

[code]

[2016-07-27 15:46] aDrz commented on #373
mhmh i see, i see...

`locale: Cannot set LC_CTYPE to default locale: No such file or directory
locale: Cannot set LC_MESSAGES to default locale: No such file or directory
locale: Cannot set LC_ALL to default locale: No such file or directory
LANG=fr_FR.UTF-8
LANGUAGE=
LC_CTYPE="fr_FR.UTF-8"
LC_NUMERIC="fr_FR.UTF-8"
LC_TIME="fr_FR.UTF-8"
LC_COLLATE="fr_FR.UTF-8"
LC_MONETARY="fr_FR.UTF-8"
LC_MESSAG

[2016-07-28 07:01] aDrz commented on #373
Thank you, indeed it is due to my shitty locale variables...

[2016-07-28 07:01] #373 closed

[2016-07-28 07:48] ultrabug commented on #369
Ok I merged it it's time to move on, thanks a lot !

I was stupid and forgot about installing your fork in develop mode...

Now I get some UnicodeDecodeError tho so I guess the parser is not python2 compliant

[2016-07-28 10:30] tobes commented on #369
Yeah I've seen this today.  I'm still looking but from what I can see the issue is not so much that it is not python2 compliant as that it is too unicode centric, that is treats things as unicode.

So with
[code]
before `format_today = '{icon}{temp}\xc2\xb0{units} {text}'` after `u'{icon}{temp}\xb0{units} {text}'`

I'm testing a patch to fix this now.

[2016-07-28 10:48] tobes commented on #369
Actually after thinking a bit more probably the correct thing to do is just fix up the broken modules themselves.

basically things like weather_yahoo have `icon_cloud = '☁'` etc when `icon_cloud = u'☁'` is needed for python2 to work with unicode correctly.

The 'patch' I have just covers the breakages but make the real fix not possible.

[2016-07-28 10:51] ultrabug commented on #369
I guess your last point makes sense yeah

[2016-07-28 11:27] ultrabug commented on #369
Still getting some bad stuff on py2 :(

[code]

[2016-07-28 11:44] ultrabug commented on #369
Thanks a lot, all is fine now :+1:

[2016-07-28 11:44] #369 closed

[2016-07-28 11:46] tobes commented on #369
I'm sure we'll get a few more issues related to this but they should be simple to fix

[2016-07-29 09:12] ultrabug opened #379 "broken click events"
since our last merges, the click events are not working anymore :(

[2016-07-29 09:23] ultrabug commented on #379
I see they are received in the logs and the 'trying to dispatch' but they're not processed

[2016-07-29 09:30] tobes commented on #379
Looks like we are trying to find the module by partial name not full name. I'll make a quick patch

[2016-07-29 09:52] #379 closed

[2016-07-31 22:51] tobes commented on #164
PR #282 fixed this issue so we can probably close this now.

[2016-08-03 20:35] ikzk opened #387 "group module cannot be loaded"
I am using the master branch. I simply put the example in the doc:

[code]

to my configuration file (I also tried an empty configuration file). An error is reported:

[code]

Without group module or when the group module only contains a single module it works fine.

[2016-08-04 07:14] ultrabug commented on #387
Hi @ikzk, that's strange, would you mind showing the result of `py3status -v` and if possible your entire `i3status.conf` when it's failing ?

[2016-08-04 07:49] ultrabug commented on #164
Cool yeah, reopen if you feel otherwise thank you guys !

[2016-08-04 07:49] #164 closed

[2016-08-04 09:10] tobes commented on #387
Could you also post the error from the logs.  `py3status -c <config-path> -l <logfile-path>` Thanks

[2016-08-04 18:27] ikzk commented on #387
@ultrabug @tobes Sorry for replying late.

The `py3status -v` shows:

[code]

The `i3status.conf` is

[code]

The error log is

[code]

[2016-08-04 18:30] ikzk commented on #387
I also tried using system's python instead of the anaconda virtualenv, but the error persists:

[code]

[2016-08-05 09:53] tobes commented on #387
This config works for me.

It is odd that you see module.items() as `odict_items(...)` I see `ModuleDefinition(...)` but it is just a subclassed ordered dict. I'm running python 3.4.3 but I wouldn't think 3.5 would behave differently.

The config parser can be run standalone `python py3status/parse_config.py <path to config>` which might help with debugging.

Does changing line 544 to `for k, v in

[2016-08-05 18:44] ikzk commented on #387
@tobes
It gives the following result:

[code]

I'll give python 3.4 a try.

[2016-08-05 19:48] tobes commented on #387
Did you try that possible fix?
On 5 Aug 2016 19:44, "界塚 伊奈帆" <notifications@github.com> wrote:

[2016-08-05 20:01] ikzk commented on #387
@tobes Oh, that's weird.. 3.4.3 also works on my computer, so the problem might be the inconsistence between python 3.5.2 and 3.4.3..........

[2016-08-05 20:05] ikzk commented on #387
@tobes  https://github.com/ultrabug/py3status/pull/389 still gives

[code]

[2016-08-05 20:25] tobes commented on #387
Sorry I meant the [x for x in ...] Fix from my comment a few above. On my
phone so bit hard to type.

I'll try to install 3.5 over the weekend
On 5 Aug 2016 21:05, "界塚 伊奈帆" <notifications@github.com> wrote:

[2016-08-05 20:30] ikzk commented on #387
@tobes Yes changing line 544 to `for k, v in [x for x in module.items()]:` fixes the issue! Thanks for your help!

[2016-08-05 20:31] tobes commented on #387
Cool I'll make a patch
On 5 Aug 2016 21:30, "界塚 伊奈帆" <notifications@github.com> wrote:

[2016-08-05 20:34] pydsigner commented on #387
@tobes please use just straight `list(module.items())` though, not a
list comprehension.

On 08/05/2016 03:31 PM, tobes wrote:

[2016-08-05 20:50] tobes commented on #387
@pydsigner sure thing

[2016-08-06 00:39] tobes commented on #387
@ikzk if you can confirm that #391 fixes the issue that would be great.

Thanks for reporting these issues.  Hope you are enjoying py3status.

[2016-08-06 04:00] ikzk commented on #387
@tobes Yes, it works perfectly. Thanks for your work!

[2016-08-06 06:13] ultrabug commented on #387
Thanks for the report and nice debug guys !

[2016-08-06 06:13] ultrabug commented on #387
It's merged now.

[2016-08-06 06:13] #387 closed

[2016-08-07 09:45] tobes opened #392 "Proposal: module init() function."
Due to how py3status modules are loaded their `__init__()` is called before any configuration parameters have been set.  It is often useful to run code just once when the module has been configured.

To achieve this I have often written code like this
[code]

Other modules just run code every time in their main method which only needed to be run once.

I think it would be nice if we allowed an `in

[2016-08-11 14:19] tobes commented on #392
implemented in PR #399

[2016-08-11 14:19] #392 closed

[2016-08-12 06:18] amaurybrisou opened #400 "Error in events.py line 30 on reloading i3"
Hi,

Whenever I restart, and not all the time, I got this message :

[code]

My i3 and py3status versions are :

[code]

Has anyone experience this problem ?

Thank you for all the good work !

[2016-08-12 10:00] tobes commented on #400
@amaurybrisou Thanks for reporting this issue.

Could you also post the error from the logs. `py3status -c <config-path> -l <logfile-path>` as that will help track down what's going wrong

[2016-08-12 10:07] amaurybrisou commented on #400
`2016-08-12 12:07:10 INFO i3status spawned using config file /tmp/py3status_fANTQ9
2016-08-12 12:07:18 WARNING  (error) events.py line 30.
2016-08-12 12:07:18 INFO Traceback
error: (4, 'Appel syst\xc3\xa8me interrompu')
  File "/usr/local/lib/python2.7/dist-packages/py3status-3.1rc0-py2.7.egg/py3status/i3status.py", line 332, in spawn_i3status
    err = self.poller_err.readline()
  File "/usr/loca

[2016-08-12 10:10] amaurybrisou commented on #400
This might help :

https://projects.savoirfairelinux.com/projects/sflvault/repository/revisions/f1fe0d0a6ea2a3b30365245b98f68adb11853804/diff/

[2016-08-12 10:35] tobes commented on #400
does the following patch help in any way?

[code]

[2016-08-12 11:46] amaurybrisou commented on #400
Looks like it's all right, I'll tell you by the end of the week :) thanks you @tobes

[2016-08-12 14:10] amaurybrisou commented on #400
No still raise the error mentioned above :octopus:

[2016-08-12 14:29] tobes commented on #400
Do you have the traceback for the latest error
On 12 Aug 2016 15:10, "Amaury Brisou" <notifications@github.com> wrote:

[2016-08-12 16:20] tobes commented on #400
@amaurybrisou I've made a new patch, this should cover a few more of the places things can go wrong with the file polling, by pushing it a bit further back.

It'd be helpful if you could try it, and see if it helps at all.  I'd be interested in seeing any backtraces if you still have issues.  There is still a `.poll()` in the error code that I don't like but I'd just like to understand the issue a

[2016-08-13 06:50] amaurybrisou commented on #400
Hello @tobes, I had the same traceback as before.

From now with your latest patch, error occurs when I change tab and refresh ith 'ctrl'+'shift'+'R'.

Here is the log :

`2016-08-13 08:47:49 WARNING  (error) events.py line 33.
2016-08-13 08:47:49 INFO Traceback
error: (4, 'Appel syst\xc3\xa8me interrompu')
  File "/usr/local/lib/python2.7/dist-packages/py3status-3.1rc0-py2.7.egg/py3status/i3statu

[2016-08-13 06:57] amaurybrisou commented on #400
With python3.5 no error if I refresh after switching tab

[2016-08-13 11:07] tobes commented on #400
Looks like I was catching the wrong exception.  This patch should behave better.

[code]

It is a shame not to be able to reproduce this error.

There has also been talk of rewriting the poller which might fix things for python 2.7

[2016-08-13 12:36] Rapiz1 opened #401 "How can I get mem_used in MB?"
How can I get mem_used in MB?

[2016-08-13 13:18] tobes commented on #401
Unfortunately the sysdata module currently only gives memory sizes in GB.

 The code would be easy enough to change https://github.com/ultrabug/py3status/blob/master/py3status/modules/sysdata.py#L72 is where the conversion to GB happens (1 << 10) would give it in MB.

[2016-08-13 13:50] ritze commented on #401
Maybe this can be a little bit more intuitively? When you have only 256 MB than MB is shown as unit. If you have 2 GB, than GB is shown as unit and so on…

[2016-08-16 15:45] ultrabug commented on #153
We'll be reaching the 300th soon, I'll close this issue and please feel free to reopen whenever a need of yours arise :)

[2016-08-16 15:45] #153 closed

[2016-08-16 15:56] eivindj commented on #153
Alright, sorry! Thankful for the offer :)

On Aug 16, 2016 5:45 PM, "Ultrabug" <notifications@github.com> wrote:

[2016-08-16 16:01] ultrabug commented on #29
I'm closing my oldest issue, it makes no sense any more.

[2016-08-16 16:01] #29 closed

[2016-08-17 09:17] tobes commented on #322
Color options are now in master and will be in the 3.1 release.

Documentation https://github.com/ultrabug/py3status/blob/master/doc/README.md#configuring_color

[2016-08-17 09:17] #322 closed

[2016-08-20 10:49] ritze opened #414 "module_test cannot kill threads"
When you testing a module with threads like the `mpris` module and try to abort the process than you get an error:

[code]

After that error the process is still alive.

[2016-08-20 12:07] tobes commented on #414
This is actually an issue in mpris.py rather than the module testing as such.

GObject.MainLoop is a fairly nasty thing imho the following patch fixes the issue
really `self._loop.quit()` should kill it but it does not appear to.

I think there is a better solution to this issue

[code]

[2016-08-22 11:14] ultrabug opened #417 "modules : normalize & document cache_timeout"
Normalize the use of `self.py3.time_in()` in all modules.

[2016-08-22 11:22] tobes commented on #417
I also want to update `time_in()`

* add a `sync` option so that the time can be synced to the x second eg `time_in(10, sync=60)` would get the next minute after 10 seconds, useful for clocks/timers etc (`sync` is a horrible name need to think of a better one)

* add an `offset`  option so that the base time can be different again useful for timers

[2016-08-23 18:06] ritze commented on #414
Seems legit.

[2016-08-23 18:06] #414 closed

[2016-08-24 11:44] tobes opened #421 "Run modules in a queue"
This is a thought for a later version.

Currently each module updates itself using a Timer.   This is actually quite intensive as that is a large part of the time taken up inside module.py from what I can see from the profiling.

The suggestion is to instead run the modules from a queue.  So the modules update time would be added to a single queue managed in core.  In the main loop we would check

[2016-08-25 10:31] tobes commented on #417
I was thinking about this some more.

First I thought we should change `time_in(seconds)` so that if we don't supply a time then we use the value in the modules `cache_timeout` so we can just use `self.py3.time_in()` instead of `self.py3.time_in(self.cache_timeout)`.  This would change the behavior slightly when we call `time_in()` (currently this requests an immediate update), but as we have few

[2016-08-25 21:29] tobes commented on #421
actually this does no favours

[2016-08-25 21:29] #421 closed

[2016-08-26 03:33] pydsigner commented on #417
I really like this `cache_timeout` idea. +1 for that.

On 08/25/2016 05:31 AM, tobes wrote:

[2016-08-26 06:16] ultrabug commented on #417
I'm up for all those proposals, they make perfect sense to me. The implicit usage and its fallback should be documented tho.

Cheers !

[2016-08-26 08:36] ultrabug commented on #421
Before you implemented Timers I had Queues in mind.

Mind sharing why it does no favour ?

[2016-08-26 09:55] tobes commented on #421
Well mainly it was a bug so I was running too many things and it was slow to show the bar initially.

But you still need to have the modules run as Threads so I had little threads that I created that ran a module as needed.  But it was using more cpu (not by that much)  I've got the code so maybe in future we do something like this.

[2016-08-26 10:14] tobes commented on #417
Added as #422

[2016-08-26 12:20] tobes opened #424 "Docstring change for placeholders"
Currently we have

`Format status string parameters:`

We could just change this to

`Format placeholders:`

I think this would be a bit clearer for users

[2016-08-26 13:46] ultrabug commented on #421
ok thanks

[2016-08-26 13:51] ultrabug commented on #424
I agree

[2016-08-26 13:51] tobes commented on #421
it is here as you can see it is a total work in progress type thing

https://github.com/ultrabug/py3status/compare/master...tobes:queue

[2016-08-27 15:09] tobes commented on #424
#427 does this

[2016-08-27 15:09] #424 closed

[2016-08-29 18:03] guiniol opened #448 "safe_format: '0' are not displayed"
`py3.safe_format` doesn't show '0' and it doesn't show the placeholder either. So, it seems it sees the placeholder has a value, but somehow messes up displaying the value.

Here is a test module to showcase the issue:

[code]

[2016-08-30 10:05] tobes commented on #448
@guiniol thanks for spotting this and the demo module I've add PR #450 to fix this

[2016-08-30 10:58] tobes opened #451 "Thresholds"
Several modules have threshold and I think we should look at trying to standardize how these are treated.

__names__

Sometime they are things like `critical`, `high_threshold`, `threshold_high`.  I think we should look at unifying them as  `threshold_xxx`

Alternatively we could fully switch to the `thresholds = {..}` approach see later

Sometime they are things like `threshold_high` other times

[2016-08-30 11:26] #448 closed

[2016-08-30 17:40] tobes opened #457 "netdata module uses fixed eth0 as default"
It should probably try to discover one if the system has no eth0 defined

[2016-08-30 23:59] tobes opened #459 "Module spaceapi is not python2 compatible"
No module named urllib.request in python2

[2016-09-02 06:49] Markus00000 opened #465 "General color cannot be overridden in module config"
In this example, `color_bad = "#ff0000"` in the `general` block cannot be overridden by `color_bad = "#ffffff"` in the `ethernet _first_` block:

    general {
            color_bad = "#ff0000"
    }

    ethernet _first_ {
            color_bad = "#ffffff"
    }

py3status versions:

    py3status version 3.1rc0 (python 3.5.2) => affected
    py3status version 3.0 (python 3.5.2)    => unaffected

[2016-09-02 09:25] tobes commented on #465
@Markus00000 Thanks for finding this

[2016-09-02 10:09] ultrabug opened #469 "modules on a container reporting as 'urgent' should switch the group display to them"
so their urgent output is seen on the bar without having to scroll down to them

[2016-09-02 10:12] tobes commented on #417
Implemented in #422 & #429
Documentation of the automatic setting of 'cached_until' wants improving

[2016-09-02 10:14] tobes commented on #469
This makes sense but might need some playing with to work smoothly from the users point of view.  Maybe we switch to the urgent item?

[2016-09-02 10:16] ultrabug commented on #469
That's what I meant in my poor english ;)

[2016-09-02 10:33] #465 closed

[2016-09-02 10:33] ultrabug commented on #465
Thanks @Markus00000 for reporting and @tobes for the fix !

[2016-09-02 11:03] tobes commented on #355
@Q3CPMA do you still experience this with the current master?

[2016-09-02 11:13] tobes commented on #302
Closing as this is an issue in wnot_cli not py3status

[2016-09-02 11:13] #302 closed

[2016-09-02 12:03] #417 closed

[2016-09-03 20:37] Q3CPMA commented on #355
Yep. Tested with the simple conf in the pull request:
[code]

[2016-09-04 07:20] ultrabug commented on #355
Thanks to you both for reporting & testing :+1:

[2016-09-04 07:20] #355 closed

[2016-09-09 19:51] ultrabug opened #481 "300th star wish"
Hi @sanderboom !

You're the 300th star of `py3status` thank you very much and I hope you enjoy it :)

I wanted to celebrate this by asking you about the py3status module or feature of your dream ?
I'll be glad to do my best to make it happen for you ;)

There's no rush here, if you have none yet just leave this issue open. If you don't want this, feel free to close this issue too.

Cheers :+1:

[2016-09-09 20:03] jakubjedelsky commented on #481
:tada::birthday::metal:

[2016-09-10 09:56] tobes opened #482 "Module imports (dependencies)"
For testing purposes it would be good if modules could be loaded even if they do not have their dependencies installed.  Doing this could also allow us to provide better information to the user on why the module cannot be run etc.

eg. `aws_bill` uses the `boto` library

We could do something like (my preference)
[code]

or
[code]

I would also like to alter the modules method output to allow a re

[2016-09-10 14:38] sanderboom commented on #481
Haha great! Little did I know when I pressed the :star:! Awesome.

To be honest I've just started out with i3, coming from Compiz. I'm very happy with i3 and trying to bend it to my wishes and needs. It seems I came to the right WM.

I filed this feature request a couple of days ago that was immediately declined:
https://github.com/i3/i3status/issues/161

This led me to `py3status`. I like your ph

[2016-09-11 09:15] ultrabug commented on #481
Unexpected, that's the spirit :)

Thanks, I hope you'll find it useful and fun to use !

There's absolutely no rush here, leave this issue open as long as you wish :) I've not seen any highly requested feature anyway.

Cheers

[2016-09-14 13:51] HoratioZEDU commented on #459
Perhaps doing `import six.moves.urllib.request` instead of `import urllib.request` would work. `six.moves` is cross-compatible between python 2 and python 3.

[2016-09-14 21:01] jurajpetrik opened #484 "mpd_status (UnicodeDecodeError) i3status.py line 282, with Python 2 and unicode in track names"
I just tried installing py3status and on starting it (by i3 or through shell) I get an error saying

screenshot: http://i.imgur.com/ysLDRAJ.png

[code]

bar config from i3 config file

[code]

[2016-09-14 21:18] tobes commented on #484
Thanks for reporting this could you add your i3status.conf.

[2016-09-14 21:20] tobes commented on #459
But that is an extra dependancy to be honest I think we should move it to use requests

[2016-09-15 15:01] jurajpetrik commented on #484
I don't have any custom i3status.conf. There is only the default one in `/etc/i3status.conf`

[2016-09-16 06:45] ultrabug commented on #484
Thanks for reporting this @jurajpetrik !

Since a lot has changed on the i3status.conf parser since 3.0, would you please try by installing 3.1 and testing again first ?

Thanks !

[2016-09-27 10:11] YetAnotherNerd commented on #484
getting this error from multiple modules, guess it is related

[code]

[2016-09-27 10:20] tobes commented on #484
@YetAnotherNerd thanks for the report, could you share the config settings for those 2 modules.
It looks like a different issue to the original report but will need fixing up.

@ultrabug some of this should be fixed by the safe_format changes but some like mpd_status look like they will still need fixing though the fix fill likely be `''` -> `u''`

[2016-09-27 10:24] YetAnotherNerd commented on #484
@tobes
[code]
seems mpd_status only fails for some tracks

[2016-09-27 10:30] tobes commented on #484
yeah ones where there is a unicode character

@ultrabug what do you feel about a 3.1.1 bugfix branch for things like this?  The alternative is to just wait for 3.2.  With sys_info it is more a pain as the fix would not just be a backport.  Anyway something to think about.

[2016-09-29 10:56] ultrabug commented on #484
sounds sensible to make a release for this, ok

[2016-09-29 11:08] ultrabug commented on #482
I like the idea of course this would be better than the current "crash".

I'm not sure about the import in the post_config_hook but maybe we could enforce the check in this very function

[code]

[2016-10-03 04:18] inclementweather opened #489 "battery_level.py recommended changes"
Module battery_level.py lines 343 and 350 raise an `AttributeError ` when the Py3status class is instantiated and the battery is below either threshold.
The `self.last_known_status` variable isn't declared yet so the threshold conditionals fail. Otherwise if the battery starts above the threshold and drops below it, the error is avoided.
Declaring `last_known_status = ''` at the top of Py3status f

[2016-10-03 04:50] inclementweather commented on #489
Sorry, I'm a github newbie.  Created a pull request instead.

[2016-10-03 04:50] #489 closed

[2016-10-03 08:50] tobes commented on #482
def post_config_hook(self):
    if boto is None:
        raise bla
[code]

[2016-10-03 16:34] pydsigner commented on #482
@tobes I think an exception with a good message is the best way to go, but it could be something like `raise self.py3.MissingDependencyException('The epic foobar module requires pyfoobar to be installed!')`.

[2016-10-03 16:43] tobes commented on #482
@pydsigner ok this now makes sense to me.  It's better for py3status to decide what to do about the module, rather than each module deciding.  It's a nice and simple approach.

[2016-10-06 07:38] inclementweather opened #492 "TypeError while logging to file with --debug"
Just a minor issue while logging debug info to a file I noticed this:

[code]

The unicode arrows used by the netdata module are causing the issue. I found adding `encoding='utf8'` to the open() in core.py log method fixes this issue for python3 if you don't mind the unprintable chars in your file.  Python2 needs io.open() to support the encoding parameter though. Since both versions can use io.op

[2016-10-06 08:27] tobes commented on #492
Thanks for this report.

Unfortunately I can't reproduce this error (looks like my filesystem encoding is utf-8).  Looking briefly at the netdata module it could do with some love.  The format is currently fixed (and not very python2 friendly) and it doesn't use py3.safe_format() which tries to help with the unicode issues (though it might fail in some cases).  It should also find the first nic if

[2016-10-07 07:16] inclementweather commented on #492
Maybe filter module output if there's no debug parameter set in the module config?

I don't have any other modules running that are using unicode characters.  I'll go add some in and see what happens.  I'm curious now how these encoding settings are determined, my system's locale is set to en_US.UTF-8.

Anyway, I have an alternative that deals with both byte and unicode strings without the io impo

[2016-10-07 07:48] tobes commented on #492
My output (looks identical to yours from what I see)

[code]

That's an option but I'd rather specify the debugging through the command line args rather than make changes to the config.

[2016-10-07 20:57] inclementweather commented on #492
That's great, thanks.  I think that sample set covers anything that would be passed to the logger.

[2016-10-07 22:23] tobes commented on #492
In theory we can also log non-string types eg `True`, `None`, `{'key': value}`, `['my', 'list']`, `MyObject()` but these should be handled ok if the basics are working.  This is useful when debugging etc.

Logging can go through two paths `core.Py3statusWrapper.log()` and `py3.Py3.log()` which is a wrapper for use in modules.  Looking at the code I think that `py3.py3.log()` should probably be ret

[2016-10-07 23:33] inclementweather commented on #492
Yeah the logging to syslog is working fine, but I'm on Arch so systemd is writing to a journal and I don't have a text based logging daemon set up.

I think you're right about py3.py3.log(). Everything I read while looking at this unicode business said that converting incoming data to unicode as soon as possible is the best practice.  core.Py3statusWrapper.log() is converting msg to unicode anyway

[2016-10-08 09:30] tobes commented on #492
When you say this are you talking about your `test2.py` script or in py3status?  As far as I'm aware in py3status at least for `py3.log()` this should work fine and it is something I use regularly.

This is two issues.  If you add the `\u3184` to the module default it needs to be as unicode eg `format = u'\u3184 ...'` if you are running using python2 for me at least, it works as expected using pyt

[2016-10-08 20:59] inclementweather commented on #492
Yeah, the test script. I just passed them bare into the write function out of curiosity. As soon as you pass it to format though it becomes text so those types would never reach that point. Forget my ignorant question above. :)

Nice fix :+1:  I'll have to add some more unicode to my status bar now.

The unicode (explicit or escaped) in the default format shows up fine in the status bar, but it wa

[2016-10-08 21:15] tobes commented on #492
Well I thought that was something you were fixing ;)  The config parsing is a separate issue which is why I sorted it.

[2016-10-09 02:49] inclementweather commented on #492
I'm on it boss :) I was actually starting to do that, but I got sucked back into this python2 unicode maze. I set up a virtualenv to run py3status in python2 because I expected the unicode to cause more errors when it came to format(), but it doesn't. It seems including a byte string in a dict (maybe even a list) converts the unicode characters to their escaped byte equivalents, and then passes th

[2016-10-10 10:16] tobes commented on #484
From what I can tell sysdata module works in current master but not in 3.1

mpd_status uses it's own parser (due to it's % format among other things) I don't have mpd installed so can't really test it.  Ultimately the best solution is going to be changing mpd_status to use `Py3.safe_format()` as that works around these unicode issues.  However changing mpd_status will not be easy as

a) We need to

[2016-10-10 13:00] tobes commented on #482
I'm going to close this as I can do the testing I wanted via ast which actually makes more sense

[2016-10-10 13:00] #482 closed

[2016-10-11 02:38] pydsigner commented on #484
I think we should fix `mpd_status` and produce a fork of the module that abides by the standards. I don't think we can make that breaking change lightly.

[2016-10-11 09:10] tobes opened #497 "Module glpi has no cache_timeout"
Module will be using lots of unneeded cpu etc

[2016-10-11 09:19] tobes opened #498 "Module arch_updates flawed logic"
`include_aur` config parameter should change the format but does not as the test runs before the module is configured.

[2016-10-11 19:08] Spheerys opened #501 "How to use several instance of a module ?"
Hi,

I need more than one external_script module call.
How can I do ?

[2016-10-11 19:11] Spheerys opened #502 "How to copy printed value when clicking on it ?"
I'm looking for a way to copy the printed value with a left click on it.
What is the best way to do this ?

[2016-10-11 19:26] Spheerys commented on #501
I have found the solution by myself, but not in the documentation :
[code]

[2016-10-11 19:26] #501 closed

[2016-10-11 21:02] rixx opened #503 "battery_level fails with two batteries"
My `acpi` output at the time was formatted like:

[code]

Running `py3status` from the command line gave the following traceback:

[code]

Running Arch linux with py3status version 3.3rc0 (python 3.5.2), acpi 1.7

[2016-10-11 21:05] rixx commented on #503
Oh nevermind, this was fixed in a newer version than arch linux has by default.

[2016-10-11 21:34] rixx commented on #503
Reopening, bug appeared only when battery 1 started to discharge.

[2016-10-12 09:09] tobes commented on #502
Currently there is no method for doing this.

A basic solution could be added without too much work but I wonder if there are other similar use cases eg sending output to other commands that would benefit from a more flexible solution.

[2016-10-12 09:14] tobes commented on #503
@rixx this looks like it is the same issue that has a fix in PR #490

Thanks for reporting.

[2016-10-12 12:42] tobes commented on #503
@rixx this should now be fixed in master.  #490 explains when the bug triggered

[2016-10-12 20:11] rixx commented on #503
After waiting for my battery to run down - can confirm as fixed in master. Thanks!

[2016-10-12 20:11] #503 closed

[2016-10-12 20:42] Spheerys commented on #502
Thanks for your answer.

My use case is the following : I'm printing an OTP auth code on the bar, which is refresh each 30 seconds.
It could be useful for me to copy this value easily with a mouse click to past it on my website

[2016-10-12 21:19] tobes commented on #492
fixed in #490

[2016-10-12 21:19] #492 closed

[2016-10-13 14:17] m45t3r opened #509 "battery_status.on_click() notification not working when battery is full"
I never get the string format set in `format_notify_charging` to work, including if my battery is charging or full charged (and the charger still plugged). When my battery is charging I get the ETA to fully charge my battery, when my battery is fully charged I get a "?", that probably comes from https://github.com/ultrabug/py3status/blob/master/py3status/modules/battery_level.py#L199.

I think the

[2016-10-13 14:28] tobes commented on #509
What is you output of `acpi -b -i` as that is the actual command called.

Also what version of py3status are you running

[2016-10-13 14:33] m45t3r commented on #509
[code]
[code]

[2016-10-13 14:47] tobes commented on #509
Ok,  I think that this is just some confusion over the settings (which there are many of and not so clear).

`format_notify_discharging` and `format_notify_charging` are used for notifications when you click on the module. But `notification` must be set to True for this.

`format` is used to display the actual output to the i3bar.

[2016-10-13 14:50] m45t3r commented on #509
Yeah, I know:

![2016-10-13-11 48 55-screenshot](https://cloud.githubusercontent.com/assets/844343/19353841/1467c1e0-913b-11e6-8463-55afb7b61902.png)

Look at the notification from dunst. It shows a "?", instead of what I put in py3status config file:

[code]

[2016-10-13 14:58] m45t3r commented on #509
P.S.: Actually, it shows ```Time remaining: ?```. It only showed ```?``` because I removed ```format_notify_*``` to do a test.

[2016-10-13 15:00] tobes commented on #509
good that makes it less perplexing

[2016-10-13 15:08] tobes commented on #509
could you provide the output of `acpi -b -i` when the battery is charging/ discharging.

It looks like you are getting an IndexError from the parsing of this.  This module really could do with a cleanup.

[2016-10-13 18:26] m45t3r commented on #509
Discharging:

[code]
[code]
~ » acpi -b -i                                              ruby-2.3.1p112
Battery 0: Unknown, 96%
Battery 0: design capacity 4029 mAh, last full capacity 3556 mAh = 88%
[code]
~ » acpi -b -i                                              ruby-2.3.1p112
Battery 0: Charging, 29%, 01:19:26 until charged
Battery 0: design capacity 4029 mAh, last full capacity 3529 mAh = 87%

[2016-10-14 10:24] tobes commented on #509
Is it possible for you to apply this patch and see what we get in the logs (when charging and discharging) when the battery is full this will just cause noise in the logs.

[code]

[2016-10-14 12:23] m45t3r commented on #509
[code]

[2016-10-14 12:28] m45t3r commented on #509
Just one bizarre thing: I compiled from git to do this test (before I was using 3.2 release), and instead of getting notification I got this:

![2016-10-14-09 27 22-screenshot](https://cloud.githubusercontent.com/assets/844343/19387433/83eda470-91f0-11e6-8292-a1ad26799dd9.png)

Going back to 3.2 fixed this.

[2016-10-14 12:34] tobes commented on #509
I'm pretty sure that this whole issue is around translations but the logging you posted has not had any output from the patch as yet.  It will only occur when charging/discharging.

If I'm correct then it should be possible to fix your problem.

[2016-10-14 12:45] m45t3r commented on #509
Btw, I understand that you want to test the case my battery is full (that is when I get the `Time remaining: ?` from the Exception). However, there is still the problem that when my battery is charging, py3status is using `format_notify_discharging` instead of `format_notify_charging`.

As you can see in my config file posted before, `format_notify_charging = "Charging ({percent}%), finishing in:

[2016-10-14 12:51] m45t3r commented on #509
Anyway, wouldn't it be better to rewrite this plugin using `/sys/class/power_supply/*` like i3status itself does? It provides simple files so you wouldn't need to parse it using regex.

I can probably rewrite the module to use it, it would be a nice weekend project.

[2016-10-14 12:52] tobes commented on #509
that is why I asked 'Is it possible for you to apply this patch and see what we get in the logs (when charging and discharging)'

I need to confirm the actual output seen by py3status as I believe it may contain some Portuguese.

You will need to run the patch for a while to get some output it should look like

2016-10-14 13:51:29 INFO Module `battery_level`: ['Battery 0: Discharging, 99%, 02:24:1

[2016-10-14 12:54] tobes commented on #509
This maybe true but getting the time to charge then becomes an issue.  Interestingly dbus give hugely different guesses of times than acpi does I'm not sure why.

Also should we also support /proc/.. for old systems?

[2016-10-14 13:04] m45t3r commented on #509
Good point. Can you link me the way to do this with dbus?

@tobes Well, I would prefer to limit myself to `/sys/class/power_supply/*`. This is what i3 uses, and this is what my system support so it is easier to test. If someone needs `/proc` support, I think they can figure it out theirselves.

Unless of course, the format is described somewhere and I can try to implement blindly. However, very ra

[2016-10-14 13:12] tobes commented on #509
if you want to go down the /sys/class/power_supply/* route then that's great but I'd make it an option so we can give it some testing etc but use acpi too.

The main issue is that the module needs a massive cleanup before adding different ways to get the data is easy to implement.

Anyhow I think the following patch might fix the issue for you even though I'm debugging this blind

[code]

[2016-10-14 13:13] m45t3r commented on #509
Maybe do something like this?

https://stackoverflow.com/questions/26888636/how-to-calculate-the-time-remaining-until-the-end-of-the-battery-charge

Probably wouldn't be precise, however it is a ETA anyway.

[2016-10-14 13:18] tobes commented on #509
That would work but initially would be crazy (needs time to get samples etc)

I'd be interested if the patch works because if so then it will fix other modules for non-english users when we are doing dirty parsing from the command line.  I'm not really able to test this locally.

[2016-10-14 13:21] m45t3r commented on #509
@tobes Tried the patch, still getting `Time remaining` when my charger is plugged. I don't think it is a LOCALE issue, acpi client does not even have translations: https://sourceforge.net/p/acpiclient/code/ci/master/tree/

[2016-10-14 13:39] tobes commented on #509
Ok but without the logs I can't fix this.  The issue is about the parsing and I need to see what is failing.

The clicking stuff is just getting in the way of the problem. If you set `format = "{icon} {percent}% {time_remaining}"` do you __ever__ see the time remaining?

[2016-10-14 13:51] m45t3r commented on #509
Yeah.

[2016-10-14 13:56] tobes commented on #509
Ok, it is probably the acpi giving `charging at zero rate - will never fully charge.` response.  Is this issue happening just after you connect/disconnect power?

[2016-10-14 14:29] m45t3r commented on #509
Here we go what happens when my battery is full:

[code]

[2016-10-14 14:41] m45t3r commented on #509
BTW, looking at acpi source code:

[code]

The code is quite trivial and does not seem to consider past measurements. So implement something similar in pure Python is trivial.

[2016-10-15 04:40] m45t3r commented on #509
Well, found the problem. More details in PR #512.

Anyway, I did end the port of battery_status to sys module. It works. The work can be founded in #511.

[2016-10-15 09:06] mayukuse24 opened #513 "battery_level module not working"
Hi,
I tried using the battery_level module but it gives me an error saying file not found. Other modules like sysdata,github work though. I have also checked to see that battery_level.py file exists at the same location.

[2016-10-15 09:10] tobes commented on #513
Do you have `acpi` installed?

[2016-10-15 09:18] mayukuse24 commented on #513
Ah just installed it. Works fine. Thanks

[2016-10-15 09:18] #513 closed

[2016-10-17 11:35] tobes commented on #509
fixed in #512

[2016-10-17 11:35] #509 closed

[2016-10-18 17:54] pferate commented on #401
I submitted a PR (#520) that will report mem_used in MB if total_mem is less than 1GB.  Otherwise, it gets reported in GB.

It would be trivial to add an option to force it to a certain unit.

[2016-10-18 20:21] pferate commented on #497
#521

[2016-10-18 20:42] pferate commented on #459
I created #522 to resolve this using requests

[2016-10-19 19:51] pferate commented on #348
I think that it may be better to use `psutil` if it is available.  What do you think of having it:

1. use `psutil` (if it's there)
2. use `/proc/*` (if it's there)
3. fail (report and log it)

[2016-10-19 23:26] tobes commented on #348
I'd still go `/proc` > `psutil` > fail

My reasoning is that psutil only reads /proc and so is extra overhead and could possibly change the behaviour.  But I don't feel hugely strongly about it, but not messing our existing users around is important.

Adding psutil does have a usecase so adding it seems like a good thing.

@pferate if you are looking for more ways to contribute #98 could always us

[2016-10-21 00:26] Battleroid commented on #457
It'd probably be possible (and best) to use something cross platform like [netifaces](https://pypi.python.org/pypi/netifaces) to get the default nic instead.

[2016-10-21 00:52] tobes commented on #457
`cat /sys/class/net` gives them too and has no dependencies.  Seeing as we are then looking in `/proc` for the data it is probably not a huge issue if it is *nix specific (we can also add different methods like we have recently in volume_status)

`ip address show` is another option and might help finding one that is in use

[2016-10-21 01:22] Battleroid commented on #457
I didn't think about that. Going through the interfaces in `/sys/class/net/...` would be pretty straightforward.

[2016-10-22 09:57] #497 closed

[2016-10-24 16:58] tobes commented on #451
Revisiting this issue.

If we take the sysdata module as an example.  Currently it can only show one overall threshold, it picks the worst one and colors the output accordingly.

Really we want it to output something like

`sysdata <red>Mem 95%</red> <green>CPU 10%</green>`

Currently we don't have a recommended way to do this. We could do some thing around setting vars in the module say `color_cp

[2016-10-24 17:20] guiniol commented on #451
I like that. It allows for custom thresholds, it's not hard to define for users and with the proper `safe_format`, there's nothing to do in modules. There is one point to make very clear: the value has to be over the threshold to use the color. It doesn't matter if I define the threshold as `thresholds = [(95, 'bad'), (50, 'good')]` or `thresholds = [(50, 'good'), (95, 'bad')]` or even `thresholds

[2016-10-28 11:06] tobes opened #534 "Mpris: on_click error when no player"
If there is no player running and the user clicks on mpris an error occurs.  This only happens if no player is run between py3status starting and mpris being clicked

@ritze do you want to look at this it should be an easy fix.

[code]